@namespace BulmaRazor.Components


@inherits BulmaComponentBase

<span @attributes="Attributes" class="@classes">
    @ChildContent
</span>

@code {
    string classes => CssBuilder.Default("icon-text")
        .AddClassFromAttributes(Attributes)
        .AddClass(Color.Value, Color.Value)
        .Build();
    
    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
