@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<span @attributes="Attributes" class="@classes">
    <i class="@IconClass"></i>
</span>

@code {
    string classes => CssBuilder.Default("icon")
        .AddClassFromAttributes(Attributes)
        .AddClass(Size.Value, Size.Value)
        .AddClass(Color.Value, Color.Value)
        .AddClass("is-left", IsLeft)
        .AddClass("is-right", IsRight)
        .Build();

    [Parameter]
    public Size Size { get; set; } = Size.Default;

    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public bool IsLeft { get; set; }
    [Parameter]
    public bool IsRight { get; set; }

}
