@namespace BulmaRazor.Components
@inherits IconBase

<span @attributes="Attributes" class="@classes">
    <i class="@IconClass"></i>
</span>

@code {
    
    string IconClass => Checked == null ? "fa fa-minus-square" : Checked.Value ? "fa fa-check-square" : "fa fa-square-o";

    /// <summary>
    /// 状态
    /// </summary>
    [Parameter]
    public bool? Checked { get; set; }

}