@namespace BulmaRazor.Components

@inherits IconBase

<span @attributes="Attributes" class="icon-radio @classes">
    <i class="@IconClass"></i>
</span>

@code {
   
    string IconClass =>  Checked ? "fa fa-check-circle" : "fa fa-circle-thin";
    
    /// <summary>
    /// 状态
    /// </summary>
    [Parameter]
    public bool Checked { get; set; }

}