@namespace BulmaRazor.Components

@inherits IconBase

<span @attributes="Attributes" class="@classes">
    <i class="@IconClass"></i>
</span>

@code {
    /// <summary>
    /// icon 类名
    /// </summary>
    [Parameter]
    public string IconClass { get; set; }

}
