@inherits LayoutComponentBase
@layout MainLayout

<div class="layoutMenu">
    <div class="@B.PY4 @B.PX4">
        <NavMenu />
    </div>
</div>
<div class="layoutContent" id="layoutContent">
    <Section>
    @Body
    </Section>
</div>

@* <Columns>
    <Column IsNarrow Size="Size.Size2" style="overflow-y:auto;max-height:600px; " class="has-background-light">
    <Section>
    <NavMenu />
    </Section>
    </Column>
    <Column>
    @Body
    </Column>
    </Columns> *@
