@page "/docs/form/textarea"
@layout DocLayout

<Title>Textarea表单控件</Title>
<Subtitle Size="Size.Size4">
    多行文本输入框
</Subtitle>
<hr>


<div class="content">
    <p>
        用法同Input组件
    </p>
</div>

<Columns>
    <Column>
        <Textarea Value="Default"></Textarea>
    </Column>

    <Column>
        <Textarea Color="Color.Danger" Value="Color.Danger"></Textarea>
    </Column>
    
</Columns>

<Columns>
    <Column>
        <Textarea IsSmall Value="IsSmall"></Textarea>
    </Column>

    <Column>
        <Textarea IsLarge Value="IsLarge"></Textarea>
    </Column>
    
</Columns>