@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>


@code {

    string classes => CssBuilder.Default("control")
        .AddStyleFromAttributes(Attributes)
        .AddClass("has-icons-left",HasIconsLeft)
        .AddClass("has-icons-right",HasIconsRight)
        .AddClass("is-expanded", IsExpanded)
        .AddClass("is-loading",IsLoading)
        .Build();


    /// <summary>
    /// 用于textbox
    /// </summary>
    [Parameter]
    public bool IsLoading { get; set; }


    [Parameter]
    public bool HasIconsLeft { get; set; }
    [Parameter]
    public bool HasIconsRight { get; set; }

    /// <summary>
    /// 是否填充剩余的空间
    /// </summary>
    [Parameter]
    public bool IsExpanded { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
