@namespace BulmaRazor.Components
@inherits BulmaComponentBase


<div @attributes="Attributes" class="@classes">
    <label class="file-label">

        <InputFile OnChange="ChangeHandle" multiple="@Multiple" class="file-input"/>
        <span class="file-cta">
            <span class="file-icon">
                <i class="@IconClass"></i>
            </span>
            <span class="file-label">
                @Label
            </span>
        </span>
        @if (HasName)
        {
            <span class="file-name">
                @name
            </span>
        }
    </label>
</div>