@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<p @attributes="Attributes" class="@classes">
    @ChildContent
</p>


@code {

    string classes => CssBuilder.Default("help")
        .AddStyleFromAttributes(Attributes)
        .AddClass(Color.Value, Color.Value)
        .Build();


    /// <summary>
    /// 颜色
    /// </summary>
    [Parameter]
    public Color Color { get; set; } = Color.Default;

    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}