<div class="has-background-light my-2 is-fullwidth">
    <Container IsFluid>
        <Notification Color="Color.Primary">
            This container is <strong>fluid</strong>: it will have a 32px gap on either side, on any viewport size.
        </Notification>
    </Container>
</div>
