<div class="has-background-light my-2">
    <Container>
        <Notification Color="Color.Primary">
            This container is <strong>centered</strong> on desktop and larger viewports.
        </Notification>
    </Container>
</div>