@page "/docs/layout/footer"
@layout DocLayout


<Title>页脚(Footer)</Title>
<Subtitle Size="Size.Size4">
    简单的响应式页脚，它可以包含任何元素: lists, headings, columns, icons, buttons, etc.
</Subtitle>
<hr>

<Content>
    <p>页脚(Footer) 是一个简单容器,底部有大量空白,作为网页的最后一个元素都很棒。
</p>
</Content>


<Footer1 />
<HighLight FilePath="Pages/docs/layout/Footer1.razor"></HighLight>