<Footer>
    <Content class="@B.TextCentered">
        <p>
            <strong>BulmaRazor</strong> by loogn. The source code is licensed
            <a href="https://opensource.org/licenses/mit-license.php" rel="external nofollow noreferrer"
                target="_blank">MIT</a>. The website content
            is licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="external nofollow noreferrer"
                target="_blank">CC BY NC SA 4.0</a>.
        </p>
    </Content>
</Footer>
