@page "/docs/layout/hero"
@layout DocLayout


<Title>Hero</Title>
<Subtitle Size="Size.Size4">
    Hero横幅展示东西，会很大气
</Subtitle>
<hr>



<Hero1 />
<HighLight FilePath="Pages/docs/layout/Hero1.razor"></HighLight>

<Hero2 />
<HighLight FilePath="Pages/docs/layout/Hero2.razor"></HighLight>