<Hero Color="Color.Danger" Size="Size.FullHeight" IsFullHeightWithNavbar>
    <HeroHead>HeroHead</HeroHead>
    <HeroBody>
        <Title>全高 Hero</Title>
        <Subtitle>Hero subtitle</Subtitle>
    </HeroBody>
    <HeroFoot>HeroFoot</HeroFoot>
</Hero>