<Media>
    <MediaLeft>
        <Image Size="Size.Square64" Src="/images/image-placeholder.jpg"></Image>
    </MediaLeft>
    <MediaContent>
        <div class="content">
            <p>
                <strong>Barbara Middleton</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                <br>
                <small><a>Like</a> - <a>Reply</a> - 3 hrs</small>
            </p>
        </div>
        <Media>
            <MediaLeft>
                <Image Size="Size.Square48" Src="/images/image-placeholder.jpg"></Image>
            </MediaLeft>
            <MediaContent>
                <div class="content">
                    <p>
                        <strong>Sean Brown</strong>
                        <br>
                        Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                        <br>
                        <small><a>Like</a> - <a>Reply</a> - 2 hrs</small>
                    </p>
                </div>
                <Media>
                    Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
                </Media>
                <Media>
                    Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
                </Media>
            </MediaContent>
        </Media>
        <Media>
            <MediaLeft>
                <Image Size="Size.Square48" Src="/images/image-placeholder.jpg"></Image>
            </MediaLeft>
            <MediaContent>
                <div class="content">
                    <p>
                        <strong>Kayli Eunice </strong>
                        <br>
                        Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                        <br>
                        <small><a>Like</a> - <a>Reply</a> - 2 hrs</small>
                    </p>
                </div>
            </MediaContent>
        </Media>
    </MediaContent>
</Media>
<Media>
    <MediaLeft>
        <Image Size="Size.Square64" Src="/images/image-placeholder.jpg"></Image>
    </MediaLeft>
    <MediaContent>
        <Field>
            <Control>
                <Textarea placeholder="Add a comment..."></Textarea>
            </Control>
        </Field>
        <Field>
            <Control>
                <Button>Post comment</Button>
            </Control>
        </Field>
    </MediaContent>
</Media>