@page "/docs/layout/mediaobject"
@layout DocLayout




<Title>媒体对象(Media Object)</Title>
<Subtitle Size="Size.Size4">
    在社交媒体网站经常出现并且很流行的媒体对象，在任何情况下都很有用
</Subtitle>
<hr>


<Content>
    <p>媒体对象(media object)是一个非常适合重复嵌套的 UI 元素。</p>
</Content>

<Mediaobject1 />
<br />
<HighLight FilePath="Pages/docs/layout/Mediaobject1.razor" HasMore></HighLight>

<Content>
    你可以包含 任何 其他的 Bulma 元素，例如 inputs, textareas, icons, buttons... 甚至nav bar。
</Content>

<Mediaobject2 />
<br />
<HighLight FilePath="Pages/docs/layout/Mediaobject2.razor" HasMore></HighLight>
<hr />



<Title Size="Size.Size4" IsSpaced>

    嵌套(Nesting)
</Title>

<Content>
    <p>
        您可以嵌套最多 3层 媒体对象。
    </p>
</Content>

<Mediaobject3 />
<br />
<HighLight FilePath="Pages/docs/layout/Mediaobject3.razor" HasMore></HighLight>

