<div class="@B.BackgroundPrimaryLight">
    <Section IsMedium>
        <h1 class="title">Medium section</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently
            reading.
        </h2>
    </Section>
</div>