@page "/docs/layout/tiles"
@layout DocLayout


<Title>
    基于Flexbox的Tiles
</Title>
<Subtitle Size="Size.Size4">
    A single tile element to build 2-dimensional Metro-like, Pinterest-like, or whatever-you-like grids
</Subtitle>
<hr>

