@page "/docs/layout/tiles"
@layout DocLayout


<Title>
    基于Flexbox的Tiles（图块）
</Title>
<Subtitle Size="Size.Size4">
    Tile组件可以构建二维类的网格，像Metro、Pinterest或者你能想象出来的图块
</Subtitle>
<hr>
<Content>
    <p>
        主要属性就是IsAncestor、IsParent、IsChild,还有控制方向的IsVertial
    </p>
    <p>
        Size属性控制大小,Size.Size1~Size.Size12
    </p>
</Content>



<Tiles1 />
<HighLight FilePath="Pages/docs/layout/Tiles1.razor"></HighLight>
