@page "/docs/form/colorpicker"
@layout DocLayout

<Title>ColorPicker颜色选择器</Title>
<Subtitle Size="Size.Size4">
    颜色选择
</Subtitle>
<hr>


<Content>
    移植于 https://jscolor.com/
</Content>

<DocView ComType="ColorPicker1"/>

<hr>
<Title Size="Size.Size4">使用不同的选项参数</Title>
<DocView ComType="ColorPicker2"/>

<DocView ComType="ColorPicker3"/>