@page "/docs/form/colorpicker"
@layout DocLayout

<Title>ColorPicker颜色选择器</Title>
<Subtitle Size="Size.Size4">
    颜色选择
</Subtitle>
<hr>


<Content>
    移植于 https://jscolor.com/
</Content>

<DocView ComType="ColorPicker1"/>

<Content>
    应用参数
</Content>
<DocView ComType="ColorPicker2"/>