val:<span>@val</span><br>
<ColorPicker @bind-Value="val" Options="options"></ColorPicker>

@code {
    private string val="rgba(46,255,81,0.61)";

    ColorPickerOptions options = new()
    {
        Format = "rgba",
        PointerBorderWidth = 2
    };
}