@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>


@code {
    string classes => CssBuilder.Default("field")
        .AddStyleFromAttributes(Attributes)
        .AddClass("has-addons", HasAddons || HasAddonsCentered || HasAddonsRight)
        .AddClass("has-addons-right", HasAddonsRight)
        .AddClass("has-addons-centered", HasAddonsCentered)
        .AddClass("is-grouped", IsGrouped | IsGroupedRight | IsGroupedCentered)
        .AddClass("is-grouped-right", IsGroupedRight)
        .AddClass("is-grouped-centered", IsGroupedCentered)
        .AddClass("is-grouped-multiline", IsGroupedMultiline)
        .AddClass("is-horizontal", IsHorizontal)
        .AddClass("is-expanded",IsExpanded)
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool HasAddons { get; set; }

    [Parameter]
    public bool IsExpanded{get;set;}

    [Parameter]
    public bool HasAddonsCentered { get; set; }
    [Parameter]
    public bool HasAddonsRight { get; set; }

    [Parameter]
    public bool IsGrouped { get; set; }

    [Parameter]
    public bool IsGroupedRight { get; set; }
    [Parameter]
    public bool IsGroupedCentered { get; set; }

    [Parameter]
    public bool IsGroupedMultiline { get; set; }

    [Parameter]
    public bool IsHorizontal { get; set; }

}
