@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>


@code {

    string classes => CssBuilder.Default("field-label")
        .AddStyleFromAttributes(Attributes)
        .AddClass(Size.Value, Size.Value)
        .Build();


    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Default;

}
