<Timeline IsCentered>
    <TimelineHeader>
        <Tag IsMedium Color="Color.Info">Start</Tag>
    </TimelineHeader>
    <TimelineItem Color="Color.Link">
        <TimelineMarker></TimelineMarker>
        <TimelineContent>
            <p class="heading">January 2016</p>
            <p>Timeline content - Can include any HTML element</p>
        </TimelineContent>
    </TimelineItem>
    <TimelineItem Color="Color.Warning">
        <TimelineMarker Color="Color.Warning">
        </TimelineMarker>
        <TimelineContent>
            <p class="heading">January 2016</p>
            <p>Timeline content - Can include any HTML element</p>
        </TimelineContent>
    </TimelineItem>
    <TimelineHeader>
        <Tag Color="Color.Primary">2017</Tag>
    </TimelineHeader>
        
    <TimelineItem Color="Color.Danger">
        <TimelineMarker IsIcon Color="Color.Danger">
            <Icon IconClass="fa fa-plus" ></Icon>
        </TimelineMarker>
        <TimelineContent>
            <p class="heading">January 2017</p>
            <p>Timeline content - Can include any HTML element</p>
        </TimelineContent>
    </TimelineItem>
    <TimelineHeader>
        <Tag IsMedium Color="Color.Danger">End</Tag>
    </TimelineHeader>
</Timeline>