<Select TValue="int" Color="Color.Primary">
    <Option Value="0">-选择国家-</Option>
    <Option Value="1">中国</Option>
    <Option Value="2">美国</Option>
    <Option Value="3">俄罗斯</Option>
</Select>

<Select TValue="int" Color="Color.Link">
    <Option Value="0">-选择国家-</Option>
    <Option Value="1">中国</Option>
    <Option Value="2">美国</Option>
    <Option Value="3">俄罗斯</Option>
</Select>

<Select TValue="int" Color="Color.Info">
    <Option Value="0">-选择国家-</Option>
    <Option Value="1">中国</Option>
    <Option Value="2">美国</Option>
    <Option Value="3">俄罗斯</Option>
</Select>

<Select TValue="int" Color="Color.Success">
    <Option Value="0">-选择国家-</Option>
    <Option Value="1">中国</Option>
    <Option Value="2">美国</Option>
    <Option Value="3">俄罗斯</Option>
</Select>

<Select TValue="int" Color="Color.Warning">
    <Option Value="0">-选择国家-</Option>
    <Option Value="1">中国</Option>
    <Option Value="2">美国</Option>
    <Option Value="3">俄罗斯</Option>
</Select>

<Select TValue="int" Color="Color.Danger">
    <Option Value="0">-选择国家-</Option>
    <Option Value="1">中国</Option>
    <Option Value="2">美国</Option>
    <Option Value="3">俄罗斯</Option>
</Select>
