@page "/docs/elements/box"
@layout DocLayout

<Title>Box</Title>
<Subtitle Size="Size.Size4">
    一个可以包含其他元素的白色盒子
</Subtitle>
<hr>

<Content>
    <p>Box是一个简单容器，有白色背景，一些padding，和一个阴影盒子</p>
</Content>

<Content style="width:200px">
    <Box>
        I'm in a box.
    </Box>
</Content>


<DocView ComType="Box1"/>
<hr>

<Title Size="Size.Size4">
   丝带
</Title>
<Content style="width:200px">
      在Box上添加 @@B.Ribbon、@@B.RibbonBottom、@@B.RibbonLeft 可以在box中添加一个 Ribbon 元素 
</Content>

<DocView ComType="Box2"/>