@namespace BulmaRazor.Components
@inherits BulmaComponentBase


<div @attributes="AdditionalAttributes" class="@clesses" role="menu">
    <div class="dropdown-content">
        <CascadingValue Value="dividerClass" Name="DividerClass">
            @ChildContent
        </CascadingValue>
    </div>
</div>


@code {
    string clesses => CssBuilder.Default("dropdown-menu")
        .AddClassFromAttributes(AdditionalAttributes)
       .Build();


    private string dividerClass= "dropdown-divider";

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
