@namespace BulmaRazor.Components
@inherits BulmaComponentBase

@if (Href.HasValue())
{
    <a @attributes="AdditionalAttributes" class="@clesses" href="@Href" target="@Target">
        @ChildContent
    </a>
}
else
{
    <div @attributes="AdditionalAttributes" class="@clesses">
        @ChildContent
    </div>
}
@code {
    string clesses => CssBuilder.Default("dropdown-item")
        .AddClassFromAttributes(AdditionalAttributes)
       .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    [Parameter]
    public string Href { get; set; }
    [Parameter]
    public string Target { get; set; } = "_self";

}