@namespace BulmaRazor.Components
@inherits BulmaComponentBase


<div @attributes="Attributes" class="@clesses">
    <CascadingValue Value="this" IsFixed="true">
        <div class="dropdown-trigger" @onclick="clickHandle">
            @TriggerSlot
        </div>

        <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
                @MenuSlot
            </div>
        </div>
    </CascadingValue>
</div>
@code {
    string clesses => CssBuilder.Default("dropdown")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-active", IsActive)
        .AddClass("is-hoverable", !IsClickOpen)
       .Build();

    [Parameter]
    public bool IsActive { get; set; }


    [Parameter]
    public bool IsClickOpen { get; set; }



    public void Trigger(bool? isActive = null)
    {
        if (isActive != null)
        {
            IsActive = isActive.Value;
        }
        else
        {
            IsActive = !IsActive;
        }

        StateHasChanged();
    }

    private void clickHandle()
    {
        if (IsClickOpen)
        {
            Trigger();
        }
    }



    [Parameter]
    public RenderFragment TriggerSlot { get; set; }

    [Parameter]
    public RenderFragment MenuSlot { get; set; }
}