@namespace BulmaRazor.Components
@inherits BulmaComponentBase
@inject BulmaRazorJsInterop JsInterop

<div id="@Id" @attributes="Attributes" class="@clesses">
    <CascadingValue Value="this" IsFixed="true">
        <div class="dropdown-trigger" @onclick="clickHandle" @onclick:stopPropagation="@true">
            @TriggerSlot
        </div>

        <div class="dropdown-menu" role="menu">
            <div class="dropdown-content" style="@ContentStyle">
                @MenuSlot
            </div>
        </div>
    </CascadingValue>
</div>

@code {
    

}