@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">@ChildContent</div>

@code {
    string classes => CssBuilder.Default("buttons ")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-centered", IsCentered)
        .AddClass("is-right", IsRight)
        .AddClass("has-addons", HasAddons)
        .Build();


    [Parameter]
    public bool HasAddons { get; set; }

    [Parameter]
    public bool IsCentered { get; set; }
    [Parameter]
    public bool IsRight { get; set; }


    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
