@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">@ChildContent</div>

@code {
    string classes => CssBuilder.Default("buttons ")
        .AddClassFromAttributes(Attributes)
        .AddClass(Align.Value, Align.Value)
        .AddClass("has-addons", HasAddons)
        .Build();


    [Parameter]
    public bool HasAddons { get; set; }

    [Parameter]
    public Align Align { get; set; } = Align.Default;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
