<Columns>
    <Column>
        <Steps Active="1" IsDashed>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
        </Steps>
    </Column>
    <Column>
        <Steps Active="1">
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
            <StepsSegment IsDashed>
                <StepsMarker>
                </StepsMarker>
                <StepsContent IsDividerContent>
                    <p class="heading">Next step unreachable</p>
                </StepsContent>
            </StepsSegment>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
        </Steps>
    </Column>
</Columns>

<Columns>
    <Column>
        <Steps Active="1" HasGaps>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
        </Steps>
    </Column>
    <Column>
        <Steps Active="1">
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
            <StepsSegment HasGaps>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
            <StepsSegment>
                <StepsMarker>
                </StepsMarker>
            </StepsSegment>
        </Steps>
    </Column>
</Columns>