@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>

@code {
    string classes => CssBuilder.Default("tile")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-child", IsChild)
        .AddClass("is-ancestor", IsAncestor)
        .AddClass("is-parent", IsParent)
        .AddClass(Size.Value, Size.Value)
        .AddClass("is-vertical", IsVertical)
        .Build();




    [Parameter]
    public bool IsAncestor { get; set; }

    [Parameter]
    public bool IsParent { get; set; }

    /// <summary>
    /// 孩子
    /// </summary>
    public bool IsChild { get; set; }


    /// <summary>
    /// 是否垂直
    /// </summary>
    [Parameter]
    public bool IsVertical { get; set; }

    /// <summary>
    /// 水平尺寸
    /// </summary>
    [Parameter]
    public Size Size { get; set; } = Size.Default;


    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
