<CollapsibleToggle Target="collapsibleId">单个可折叠</CollapsibleToggle>
<Collapsible Id="collapsibleId">
    <Notification>
        <p>这里是Hello内容</p>
        <p>这里是Hello内容</p>
        <p>这里是Hello内容</p>
    </Notification>
</Collapsible>
<hr>