@page "/docs/form/switch"
@layout DocLayout

<Title>Switch开关</Title>
<Subtitle Size="Size.Size4">
    把CheckBox显示成开关样式
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<DocView ComType="Switch3"/>

<hr>

<Title Size="Size.Size4" IsSpaced>
    大小
</Title>
<DocView ComType="Switch4"/>

<hr>

<Title Size="Size.Size4" IsSpaced>
    各种样式
</Title>
<DocView ComType="Switch5"/>
<hr>


<Title Size="Size.Size4" IsSpaced>
    数据绑定
</Title>
<div class="content">
    <p>
        使用@@bind-Checked, 绑定值必须是bool
    </p>
</div>
<DocView ComType="Switch1"/>