@inherits BulmaComponentBase
@namespace BulmaRazor.Components

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>


@code {


    string classes => CssBuilder.Default("extra-data")
        .AddClassFromAttributes(Attributes)
        .AddClass("has-overflow-left", HasOverflowLeft)
        .AddClass("has-overflow-right", HasOverflowRight)
        .Build();


    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    /// <summary>
    /// 左溢出
    /// </summary>
    [Parameter]
    public bool HasOverflowLeft { get; set; }


    /// <summary>
    /// 右溢出
    /// </summary>
    [Parameter]
    public bool HasOverflowRight { get; set; }

}