@inherits BulmaComponentBase
@namespace BulmaRazor.Components

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>

@code {


    string classes => CssBuilder.Default("steps-content")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-divider-content", IsDividerContent)
        .Build();


    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    
    /// <summary>
    /// 作为分隔内容
    /// </summary>
    [Parameter]
    public bool IsDividerContent { get; set; }

}