@inherits BulmaComponentBase
@namespace BulmaRazor.Components

@if (hasHref)
{
    <a @attributes="Attributes" class="@classes">
        @ChildContent
    </a>
}
else
{
    <span @attributes="Attributes" class="@classes">
        @ChildContent
    </span>
}
@code {


    string classes => CssBuilder.Default("steps-marker")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-hollow", IsHollow)
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsHollow { get; set; }

    private bool hasHref;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        hasHref = Attributes.ContainsKey("href");
    }
}