@page "/docs/form/textarea"
@layout DocLayout

<Title>Textarea表单控件</Title>
<Subtitle Size="Size.Size4">
    多行文本输入框
</Subtitle>
<hr>


<div class="content">
    <p>
        用法同Input组件
    </p>
</div>


<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<DocView ComType="Textarea1"/>
<hr>



<Title Size="Size.Size4" IsSpaced>
    尺寸
</Title>
<DocView ComType="Textarea2"/>
<hr>

<Title Size="Size.Size4" IsSpaced>
    其他
</Title>
<DocView ComType="Textarea3"/>
<hr>
