@page "/docs/components/modal"
@layout DocLayout

<Title>Modal对话框</Title>
<Subtitle Size="Size.Size4">
    经典的模式叠加层，您可以在其中包含所需的任何内容
</Subtitle>
<hr>
<Modal1/><br><br>
<HighLight FilePath="Pages/docs/components/modal/Modal1.razor"/>

<hr>
<Title Size="Size.Size4" IsSpaced>Dialog</Title>
<Content>
    <p>使用Dialog组件，可以方便实现类似alert,confirm,prompt对话框功能</p>
    <p>在使用的组件中添加Dialog组件，该组件的附加属性会加载到div.modal-card上，比如可以限制宽度</p>
</Content>
<Modal3/><br><br>
<HighLight FilePath="Pages/docs/components/modal/Modal3.razor" HasMore/>

<hr>

<Title Size="Size.Size4" IsSpaced>ModalCard</Title>
<Content>
    如果Dialog满足不了，可以使用ModalCard对话框，自定义内容和按钮
</Content>
<Modal2/>
<br><br>
<HighLight FilePath="Pages/docs/components/modal/Modal2.razor"/>