@page "/docs/components/menu"
@layout DocLayout

<Title>Menu菜单</Title>
<Subtitle Size="Size.Size4">
    一个简单的菜单，适用于任何类型的垂直导航
</Subtitle>
<hr>
<div class="content">
    <p>
        <code>Menu</code> 是一个垂直的导航组件，包括：
    </p>
    <ul>
        <li>
            <code>MenuLabel</code> 标签
        </li>
        <li>
            <code>MenuList</code> 列表，可以嵌套在MenuItem中，放在MenuLink下面
            <ul>
                <li>
                    <code>MenuItem</code>项
                    <ul>
                        <li><code>MenuLink</code>项</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>


<Title Size="Size.Size4">后台菜单</Title>

<DocView ComType="Menu2"/>

<Title Size="Size.Size4">前台菜单</Title>
<DocView ComType="Menu1"/>
<hr>