@page "/docs/form/switch"
@layout DocLayout

<Title>Switch开关</Title>
<Subtitle Size="Size.Size4">
    把CheckBox显示成开关样式
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<Columns>
    <Column>
        <Switch3 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/Switch/Switch3.razor" HasMore MaxHeight="230"></HighLight>
    </Column>
</Columns>

<hr>

<Title Size="Size.Size4" IsSpaced>
    大小
</Title>
<Columns>
    <Column>
        <Switch4 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/Switch/Switch4.razor" HasMore MaxHeight="150"></HighLight>
    </Column>
</Columns>

<hr>

<Title Size="Size.Size4" IsSpaced>
    各种样式
</Title>
<Columns>
    <Column>
        <Switch5 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/Switch/Switch5.razor" HasMore  MaxHeight="150"></HighLight>
    </Column>
</Columns>
<hr>


<Title Size="Size.Size4" IsSpaced>
    数据绑定
</Title>
<div class="content">
    <p>
        使用@@bind-Checked, 绑定值必须是bool
    </p>
</div>
<Columns>
    <Column>
        <Switch1 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/Switch/Switch1.razor" HasMore  MaxHeight="150"></HighLight>
    </Column>
</Columns>
