@page "/docs/elements/tooltip"
@layout DocLayout

<Title>工具提示(Tooltip)</Title>
<Subtitle Size="Size.Size4">
    纯粹的css扩展，它带来了在不同位置轻松显示附加到任何类型元素的工具提示的能力。
</Subtitle>
<hr>

<Content>
    <p>注意：由于是其他元素上的提示，没有单独的组件，使用data-tooltip，和一组@B.ToolTip*类实现</p>
</Content>

<Title Size="Size.Size4" IsSpaced>样式</Title>

<Tooltip1/>

<HighLight FilePath="Pages/docs/elements/tooltip/Tooltip1.razor"></HighLight>
<hr>
<Title Size="Size.Size4" IsSpaced>所有类</Title>

<HighLight FilePath="Pages/docs/elements/tooltip/Tooltip2.txt" Language="csharp"></HighLight>