<Media>
    <MediaLeft>
        <Image Size="Size.Square64" Src="/images/image-placeholder.jpg"></Image>
    </MediaLeft>
    <MediaContent>
        <Field>
            <Control>
                <Textarea placeholder="Add a comment..."></Textarea>
            </Control>
        </Field>
        <Level>
            <LevelLeft>
                <LevelItem><Button Color="Color.Info">Submit</Button></LevelItem>
            </LevelLeft>
            <LevelRight>
                <LevelItem><CheckBox TValue="string">Press enter to submit</CheckBox></LevelItem>
            </LevelRight>
        </Level>
    </MediaContent>
</Media>