@namespace BulmaRazor.Components
@inherits BulmaComponentBase


<nav @attributes="Attributes" class="@classes" aria-label="breadcrumbs">
    <ul>
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </ul>
</nav>

@code{
    

}
