@page "/docs/elements/block"
@layout DocLayout

<Title>Block</Title>
<Subtitle Size="Size.Size4">
    最基本的间隔块
</Subtitle>
<hr>

<Content>
    <p>除了最后一个Block，其他的Block底部都有间隔 margin-bottom: 1.5rem;</p>
</Content>
<DocView ComType="Block1"/>
