html, body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.layoutPage {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.layoutMenu {
    flex-shrink: 0;
    width: 260px;
    max-height: 100%;
    overflow: auto;
    background-color: #fafafa;
}

.layoutContent {
    flex-grow: 1;
    overflow: auto;
    max-height: 100%;
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.cascader {
    position: relative;
    display: inline-block;
    width:220px;
}
.cascader .placeholder{
    color: #c0c4cc;
    background-color:unset;
}


.cascader > .icon {
    position: absolute;
    right: 4px;
    top: 0;
    height: 100%;
}


.cascader .cascader-dropdown {
    white-space: nowrap;
    background: #fff;
    border: 1px solid #e4e7ed;
    border-right: 0;
    border-radius: 2px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    position: absolute !important;
    left: 0;
    top: 100%;
    margin-top: 8px;
}

.cascader .cascader-dropdown ul.cascader-item {
    display: inline-block;
    vertical-align: top;
    height: 205px;
    overflow: auto;
    border-right: 1px solid #e4e7ed;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 6px 0;
    min-width: 180px;
}

.cascader .cascader-dropdown ul.cascader-item > li > i {
    float: right;
}

.cascader .cascader-dropdown ul.cascader-item > li {
    font-size: 1em;
    padding: 8px 10px 8px 30px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 1.5;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
}
.cascader .cascader-dropdown ul.cascader-item > li input{
    margin-right:10px;
}


.cascader .cascader-dropdown ul.cascader-item li.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed;
}
.cascader .cascader-dropdown ul.cascader-item li.active {
    color: #409eff;
    font-weight: 700;
}

.cascader .cascader-dropdown ul.cascader-item > li:hover {
    background-color: #f5f5f5;
}

.cascader .cascader-dropdown ul.cascader-item:first-of-type:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 35px;
    z-index: -1;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    border: 1px solid #e4e7ed;
}