@page "/docs/components/message"
@layout DocLayout

<Title>Message消息</Title>
<Subtitle Size="Size.Size4">
    彩色消息块，以强调页面的一部分 
</Subtitle>

<Content>
    可以设置HeaderText,Color、Size,Removable
</Content>
<DocView ComType="Message1"/>
<hr>
<Title Size="Size.Size4" IsSpaced>
    没有消息头的样式
</Title>

<DocView ComType="Message2"/>