@namespace BulmaRazor.Components

@inherits BulmaComponentBase


<div @attributes="Attributes" class="@classes">
    <div class="modal-background" @onclick="backgroundClickHandle"></div>

    <div class="modal-content">
        @ChildContent
    </div>
    @if (ShowClose)
    {
        <button class="modal-close is-large" aria-label="close" @onclick="Close"></button>
    }
</div>

@code{

    string classes => CssBuilder.Default("modal")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-active", IsActive)
        .Build();

    [Parameter]
    public bool IsActive { get; set; }
    
    [Parameter]
    public bool CloseOnClickBackground { get; set; } = true;

    private void backgroundClickHandle()
    {
        if (CloseOnClickBackground)
        {
            Close();
        }
    }

    [Parameter]
    public bool ShowClose { get; set; } = true;


    [Parameter]
    public Size Size { get; set; } = Size.Default;


    [Parameter]
    public EventCallback OnClose { get; set; }

    public Task Close()
    {
        IsActive = false;
        return OnClose.InvokeAsync();
    }

    public void Show()
    {
        IsActive = true;
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}