@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    <div class="modal-background" @onclick="backgroundClickHandle"></div>
    <div class="modal-card">

        <header class="modal-card-head">
            <p class="modal-card-title">@HeaderText</p>
            @if (ShowClose)
            {
                <button class="delete" aria-label="close" @onclick="Close"></button>
            }
        </header>
        <section class="modal-card-body">
            @BodySlot
        </section>
        <footer class="modal-card-foot">
            @FootSlot
        </footer>
    </div>
</div>


@code{

    string classes => CssBuilder.Default("modal")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-active", isActive)
        .Build();


    [Parameter]
    public string HeaderText { get; set; }

    private bool isActive { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Default;


    [Parameter]
    public bool CloseOnClickBackground { get; set; } = false;

    private void backgroundClickHandle()
    {
        if (CloseOnClickBackground)
        {
            Close();
        }
    }

    [Parameter]
    public bool ShowClose { get; set; } = true;


    [Parameter]
    public Action OnClose { get; set; }

    public void Close()
    {
        isActive = false;
        OnClose?.Invoke();
    }

    public void Show()
    {
        isActive = true;
    }

    [Parameter]
    public RenderFragment BodySlot { get; set; }

    [Parameter]
    public RenderFragment FootSlot { get; set; }

}