@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<article @attributes="AdditionalAttributes" class="@classes">
    @if (LeftSlot != null)
    {
        <figure class="media-left">
            @LeftSlot
        </figure>
    }
    @if (ContentSlot != null)
    {
        <div class="media-content">
            @ContentSlot
        </div>
    }
    @if (RightSlot != null)
    {
        <div class="media-right">
            @RightSlot
        </div>
    }

</article>

@code {

    string classes => CssBuilder.Default("media")
      .AddClassFromAttributes(AdditionalAttributes)
      .Build();

    [Parameter]
    public RenderFragment LeftSlot { get; set; }
    [Parameter]
    public RenderFragment ContentSlot { get; set; }
    [Parameter]
    public RenderFragment RightSlot { get; set; }

}



