<Timeline>
    <TimelineHeader>
        <Tag IsMedium Color="Color.Primary">Start</Tag>
    </TimelineHeader>
    <TimelineItem>
        <TimelineMarker></TimelineMarker>
        <TimelineContent>
            <p class="heading">January 2016</p>
            <p>Timeline content - Can include any HTML element</p>
        </TimelineContent>
    </TimelineItem>
    <TimelineItem>
        <TimelineMarker IsImage Size="Size.Square32">
            <img src="/images/nuget-logo.png"/>
        </TimelineMarker>
        <TimelineContent>
            <p class="heading">January 2016</p>
            <p>Timeline content - Can include any HTML element</p>
        </TimelineContent>
    </TimelineItem>
    <TimelineHeader>
        <Tag Color="Color.Primary">2017</Tag>
    </TimelineHeader>
        
    <TimelineItem>
        <TimelineMarker IsIcon>
            <Icon IconClass="fa fa-flag"></Icon>
        </TimelineMarker>
        <TimelineContent>
            <p class="heading">January 2017</p>
            <p>Timeline content - Can include any HTML element</p>
        </TimelineContent>
    </TimelineItem>
    <TimelineHeader>
        <Tag IsMedium Color="Color.Primary">End</Tag>
    </TimelineHeader>
</Timeline>