<Breadcrumb>
    <BreadcrumbItem Href="#">
        <Icon IsSmall IconClass="fa fa-home"></Icon>
        <span>BulmaRazor</span>
    </BreadcrumbItem>
    <BreadcrumbItem Href="#">
        <Icon IsSmall IconClass="fa fa-book"></Icon>
        <span>Documentation</span>
    </BreadcrumbItem>
    <BreadcrumbItem Href="#">
        <Icon IsSmall IconClass="fa fa-puzzle-piece"></Icon>
        <span>Components</span>
    </BreadcrumbItem>
    <BreadcrumbItem Href="#">
        <Icon IsSmall IconClass="fa fa-thumbs-up"></Icon>
        <span>Breadcrumb</span>
    </BreadcrumbItem>
</Breadcrumb>