@page "/docs/components/datatable"
@layout DocLayout

<Title>数据表格(DataTable)</Title>
<Subtitle Size="Size.Size4">
    一个简单的数据表格（实验）
</Subtitle>
<hr>
<DataTable1/>
<HighLight FilePath="Pages/docs/components/DataTable1.razor"></HighLight>