@page "/docs/components/linktabs"
@layout DocLayout

<Title>Tags标签切换</Title>
<Subtitle Size="Size.Size4">
    简单的响应式水平导航选项卡，具有不同的样式
</Subtitle>
<hr>
<Title Size="Size.Size4" IsSpaced>
    位置,图标，大小
</Title>

<LinkTabs1/>
<HighLight FilePath="Pages/docs/components/LinkTabs1.razor"/>

<Title Size="Size.Size4" IsSpaced>
    样式
</Title>

<LinkTabs2/>
<HighLight FilePath="Pages/docs/components/LinkTabs2.razor"/>