@page "/docs/components/message"
@layout DocLayout

<Title>Message消息</Title>
<Subtitle Size="Size.Size4">
    彩色消息块，以强调页面的一部分 
</Subtitle>

<Content>
    可以设置HeaderText,Color、Size,Removable
</Content>

<Columns>
    <Column>
        <Message1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/Message1.razor"/>
    </Column>
</Columns>

<Content>
    如果不设置HeaderText，会加一个左边
</Content>

<Columns>
    <Column>
        <Message2/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/Message2.razor"/>
    </Column>
</Columns>