<ModalCard @ref="m1" HeaderText="Modal Title">
    <BodySlot>
        <Content>内容内容</Content>
    </BodySlot>
    <FootSlot>
        <Button Color="Color.Success">Save Change</Button>
        <Button @onclick="() => m1.Close()">Cancel</Button>
    </FootSlot>
</ModalCard>
<Button @onclick="() => m1.Show()">Open</Button>

@code{
    ModalCard m1;
}