<Modal @ref="m1" IsActive="isV">
    <Content class="@B.BackgroundLight">
        <p>
        Any other Bulma elements you want    
        </p>
    </Content>
</Modal>
<Button @onclick=Show>Open</Button>

@code{
    bool isV = false;
    Modal m1;
    void Show()
    {
        isV = true;
        // or  m1.Show();
    }
}