@page "/docs/components/modal"
@layout DocLayout

<Title>Modal对话框</Title>
<Subtitle Size="Size.Size4">
    经典的模式叠加层，您可以在其中包含所需的任何内容 
</Subtitle>
<hr>

<Columns>
    <Column>
        <Modal1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/Modal1.razor"/>
    </Column>
</Columns>

<Title Size="Size.Size4">ModalCard</Title>
<Columns>
    <Column>
        <Modal2/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/Modal2.razor"/>
    </Column>
</Columns>