@page "/docs/components/navbar"
@layout DocLayout

<Title>Navbar导航栏</Title>
<Subtitle Size="Size.Size4">
    响应式水平导航栏，可以支持图像，链接，按钮和下拉菜单
</Subtitle>
<hr>

<Content>
    <p>
        Navbar包含三个Slot,BrandSlot,StartSlot,EndSlot
    </p>
    <p>BrandSlot 可以放Logo图片</p>
    <p>
        BrandSlot，StartSlot,EndSlot 中可以包含以下组件：
    </p>
    <ul>
        <li>
            NavbarItem
            <ul>
                <li>NavbarLink</li>
                <li>NavbarDropdown</li>
                <li>NavbarDivider</li>
            </ul>
        </li>
    </ul>
</Content>

<Navbar1/>
<HighLight FilePath="Pages/docs/components/Navbar1.razor"/>

<Content>
    详细用法可以参考官网：
    <a href="https://bulma.io/documentation/components/navbar/" target="_blank">https://bulma.io/documentation/components/navbar/</a>
</Content>
