@page "/docs/components/tabs"
@layout DocLayout

<Title>Tags标签切换</Title>
<Subtitle Size="Size.Size4">
    简单的响应式水平导航选项卡，具有不同的样式
</Subtitle>
<hr>
<Title Size="Size.Size4" IsSpaced>
    位置,图标，大小
</Title>

<Tabs1/>
<HighLight FilePath="Pages/docs/components/Tabs1.razor"/>

<Title Size="Size.Size4" IsSpaced>
    样式
</Title>

<Tabs2/>
<HighLight FilePath="Pages/docs/components/Tabs2.razor"/>

<Title Size="Size.Size4" IsSpaced>
    连接Table,没有内容
</Title>

<Tabs3/>
<HighLight FilePath="Pages/docs/components/Tabs3.razor"/>