@namespace BulmaRazor.Components
@typeparam TItem
@inherits BulmaComponentBase

@if (WithContainer)
{
    <div class="table-container">
        @RenderTable
    </div>
}
else
{
    @:@RenderTable
}
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>

@code{

    RenderFragment RenderTable =>
        @<table @attributes="Attributes" class="@classes">
            @if (!NoHeader)
            {
                <thead>
                <tr>
                    @foreach (var col in Columns)
                    {
                        <th class="@(col.ThClass??ThClass)">@col.Label</th>
                    }
                </tr>
                </thead>
            }
            <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    @foreach (var col in Columns)
                    {
                        <td class="@(col.TdClass??TdClass)">
                            @if (col.ChildContent != null)
                            {
                                @:@col.ChildContent(item) 
                            }
                            else
                            {
                                var prop = typeCachedInfo.GetAccessor(col.Prop);
                                @:@ExtendMethods.GetShowValue(prop.prop.PropertyType, prop.Get(item), col.Format)
                            }
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>;
}