<p>Val:@string.Join(",",Vals)</p>
<Columns>
    <Column>
        <Cascader style="width:400px;" Data="data1" @bind-Values="Vals" Clearable IsMultiple>
        </Cascader>

    </Column>
    <Column>
        <Cascader style="width:400px;" Data="data1" @bind-Values="Vals" Clearable IsMultiple IsCollapseTags>
        </Cascader>
    </Column>

</Columns>

@code{

    HashSet<string> Vals = new HashSet<string>();
    //下面为了方便，直接从json文件加载数据
    static string dataFile = "Pages/data/data2.json";
    List<CascaderItem<string>> data1 = Cascader<string>.BuildDataFromJson(System.IO.File.ReadAllText(dataFile));
    // List<CascaderItem<string>> data2 = Cascader<string>.BuildDataFromJson(System.IO.File.ReadAllText(dataFile));
}