<Box>
    <Field>
        <Label>Email</Label>
        <Control>
            <Input placeholder="input email" TValue="string" />
        </Control>
    </Field>
    <Field>
        <Label>Password</Label>
        <Control>
            <Input placeholder="input password" type="password" TValue="string" />
        </Control>
    </Field>
    <Button Color="Color.Primary">Sign in</Button>
</Box>