<Buttons>
    <Button>Default</Button>
    <Button IsRounded Color="Color.Info">Rounded</Button>
    <Button IsLoading Color="Color.Info">Loading</Button>
    <Button IsStatic>static</Button>
    <Button Color="Color.Primary">Primary</Button>
    <Button Color="Color.Danger" Size="Size.Small" IsLight> small Light</Button>
    <Button Color="Color.Black" IsInverted IsOutlined>Inverted Outlined</Button>
    <Button>
        <Icon IconClass="fa fa-github"></Icon>
        <span>GitHub</span>
    </Button>
    <Button Color="Color.Success">
        <Icon IconClass="fa fa-check" Size="Size.Small"></Icon>
        <span>Save</span>
    </Button>
    <Button Color="Color.Danger" IsOutlined>
        <span>Delete</span>
        <Icon IconClass="fa fa-times" Size="Size.Small"></Icon>
    </Button>
</Buttons>