<Buttons>
    <Button Color="Color.Success">Save changes</Button>
    <Button Color="Color.Info">Save and continue</Button>
    <Button Color="Color.Danger">Cancel</Button>
</Buttons>
<Buttons HasAddons>
    <Button>Yes</Button>
    <Button>Maybe</Button>
    <Button>No</Button>
</Buttons>

<Buttons HasAddons IsCentered>
    <Button>Yes</Button>
    <Button Color="Color.Info" IsSelected>Maybe</Button>
    <Button>No</Button>
</Buttons>