@page "/docs/elements/delete"
@layout DocLayout

<Title>Delete</Title>
<Subtitle Size="Size.Size4">
    多才多艺的删除十字架
</Subtitle>
<hr>

<Content>
    <p>一个孤立的组件，用于其他组件里面，比如Message,Notifications,Tags</p>
</Content>

<Content>
    <Delete Size="Size.Small"></Delete>
    <Delete></Delete>
    <Delete Size="Size.Medium"></Delete>
    <Delete Size="Size.Large"></Delete>
</Content>