<Icon IconClass="fa fa-home" />

<Icon IsMedium IconClass="fa fa-home fa-2x" />

<Icon Color="Color.TextDanger" IconClass="fa fa-ban" />

<IconText>
    <Icon IconClass="fa fa-home" />
    <span>首页</span>
</IconText>
