@page "/docs/elements/title"
@layout DocLayout

<Title>Title，Subtitle</Title>
<Subtitle Size="Size.Size4">
    简单的h1~h6
</Subtitle>
<hr>

<Content>
    <p>
        一般清空是Title和Subtitle挨着使用，
        如果在第一个元素上使用IsSpaced修饰符，则可以保持标题和字幕之间的正常间距。
    </p>
</Content>

<Columns>
    <Column>
        <Title1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/elements/Title1.razor" />
    </Column>
</Columns>
