
<Title Size="Size.Size1">Title1</Title>
<Subtitle Size="Size.Size3">subtitle 3</Subtitle>
<hr>
<Title Size="Size.Size2" IsSpaced>Title2</Title>
<Subtitle Size="Size.Size4">subtitle 4</Subtitle>
<hr>
<Title Size="Size.Size3">Title3</Title>
<Subtitle Size="Size.Size5">subtitle5</Subtitle>