@namespace BulmaRazor.Components
@inherits BulmaComponentBase
@typeparam TValue

<div class="@selectCls">
    <select @attributes="Attributes" @onchange="ChangeHandle">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </select>
</div>