@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@clesses">
    @ChildContent
</div>


@code {
    string clesses => CssBuilder.Default("navbar-dropdown")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-right", IsRight)
        .AddClass("is-boxed", IsBoxed)
       .Build();


    [Parameter]
    public bool IsRight { get; set; }

    [Parameter]
    public bool IsBoxed { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


}
