@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<a @attributes="Attributes" class="@clesses">
    @ChildContent
</a>


@code {
    string clesses => CssBuilder.Default("navbar-link")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-arrowless", IsArrowless)
       .Build();


    [Parameter]
    public bool IsArrowless { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
