<Steps Active="2" IsBalanced HasContentAbove>
    <StepsSegment>
        <StepsMarker></StepsMarker>
        <StepsContent>
            <Subtitle Size="Size.Size4">Step1</Subtitle>
            <p>This is the first step, which means you start here.</p>
        </StepsContent>
    </StepsSegment>
    <StepsSegment>
        <StepsMarker></StepsMarker>
        <StepsContent>
            <Subtitle Size="Size.Size4">Step2</Subtitle>
            <p>This is the second step. Once you complete the first step, you will end up here.</p>
        </StepsContent>
    </StepsSegment>
    <StepsSegment>
        <StepsMarker>
        </StepsMarker>
        <StepsContent>
            <Subtitle Size="Size.Size4">Step 3</Subtitle>
            <p>This is the third step. This is halfway between the start and the end.</p>
        </StepsContent>
    </StepsSegment>
    <StepsSegment>
        <StepsMarker></StepsMarker>
        <StepsContent>
            <Subtitle Size="Size.Size4">Step 4</Subtitle>
            <p>The fourth step. Nearly there!</p>
        </StepsContent>
    </StepsSegment>
    <StepsSegment>
        <StepsMarker></StepsMarker>
        <StepsContent>
            <Subtitle Size="Size.Size4">Step 5</Subtitle>
            <p>And finally the last step. You have successfully completed all 5 steps.</p>
        </StepsContent>
    </StepsSegment>
</Steps>