@page "/docs/components/steps"
@layout DocLayout

<Title>Steps步骤</Title>
<Subtitle Size="Size.Size4">
    移植于 https://octoshrimpy.github.io/bulma-o-steps/
</Subtitle>
<hr>
<div class="content">
    各种效果加到一起
</div>
<DocView ComType="Steps1"/>
