@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>


@code {
    string classes => CssBuilder.Default("box")
        .AddClassFromAttributes(Attributes)
        .Build();
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
