@page "/docs/form/transfer"
@layout DocLayout

<Title>Transfer穿梭框</Title>

<hr>
<Content>
    <p>提供一个对象列表，指定一个属性即可实现穿梭框</p>
</Content>


<Title Size="Size.Size4">
    基本用法
</Title>

<DocView ComType="Transfer1"/>
<hr>
<Title Size="Size.Size4">
    可搜索
</Title>
<DocView ComType="Transfer2"/>
<hr>

<Title Size="Size.Size4">
    自定义
</Title>
<DocView ComType="Transfer3"/>



