@page "/docs/components/breadcrumb"
@layout DocLayout

<Title>breadcrumb面包屑</Title>
<Subtitle Size="Size.Size4">
    一个简单的面包屑组件，可改善您的导航体验
</Subtitle>
<hr>

<Content>
    Bulma面包屑是一个简单的导航组件，仅需要一个面包屑容器和一个ul列表。 分隔符是在li标签的:: before伪元素的内容中自动创建的。
    您可以使用li标签中的is-active修饰符通知当前页面。 它将禁用内部链接的导航。
</Content>

<DocView ComType="Breadcrumb1"/>

<hr>
<Title Size="Size.Size4" IsSpaced>
    Alignment
</Title>
<Content>
    使用IsCentered和IsRight控制面包屑的位置
</Content>
<DocView ComType="Breadcrumb2"/>

<hr/>

<Title Size="Size.Size4" IsSpaced>
    Icons
</Title>
<Content>
    可以配合字体图片使用
</Content>
<DocView ComType="Breadcrumb3"/>

<hr>
<Title Size="Size.Size4" IsSpaced>
    分隔符
</Title>
<Content>
    你可以在另外4个分隔符之间选择：HasArrowSeparator  HasBulletSeparator HasDotSeparator HasSucceedsSeparator
</Content>
<DocView ComType="Breadcrumb4"/>


