@page "/docs/elements/pageloader"
@layout DocLayout

<Title>Pageloader</Title>
<Subtitle Size="Size.Size4">
    一个全屏的页面加载提示
</Subtitle>
<hr>

<Pagerloader1/>
<br>
<br>
<HighLight FilePath="Pages/docs/elements/pageloader/Pagerloader1.razor"/>