dt:<span>@(timeSpan) </span><br>
<DatePicker @bind-Value="timeSpan" Options="opt"></DatePicker>

@code {
    TimeSpan? timeSpan;
    DatePickerOptions opt = new()
    {
        Format = @"hh\:mm",
        StartView = 0,
        PickTime = true
    };
}