@page "/docs/form/tagsinput"
@layout DocLayout

<Title>TagsInput标签输入</Title>
<Subtitle Size="Size.Size4">
    标签输入
</Subtitle>
<hr>

<Columns>
    <Column>
        <TagsInput1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/tagsinput/TagsInput1.razor"></HighLight>
    </Column>
</Columns>