@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<li @attributes="Attributes" class="@classes">@ChildContent</li>

@code {
    
    string classes => CssBuilder.Default()
        .AddClassFromAttributes(Attributes)
        .AddClass(Color.Value, Color.Value)
        .AddClass("is-small", IsSmall)
        .AddClass("is-normal", IsNormal)
        .AddClass("is-medium", IsMedium)
        .AddClass("is-large", IsLarge)
        .AddClass("is-outlined", IsOutlined)
        .AddClass("is-highlighted", IsHighlighted)
        .AddClass("has-radius", HasRadius)
        .AddClass("is-right", IsRight)
        .AddClass("is-centered", IsCentered)
        .AddClass("is-left", IsLeft)
        .Build();

    [Parameter]
    public Color Color { get; set; } = Color.Default;
    
    [Parameter]
    public bool IsSmall { get; set; }

    [Parameter]
    public bool IsNormal { get; set; }

    [Parameter]
    public bool IsMedium { get; set; }

    [Parameter]
    public bool IsLarge { get; set; }
    
    [Parameter]
    public bool IsOutlined { get; set; }

    [Parameter]
    public bool IsCentered { get; set; }

    [Parameter]
    public bool IsRight { get; set; }

    [Parameter]
    public bool IsLeft { get; set; }

    [Parameter]
    public bool HasRadius { get; set; }

    [Parameter]
    public bool IsHighlighted { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}