@page "/docs/form/datepicker"
@layout DocLayout

<Title>DatePicker日期选择器</Title>
<Subtitle Size="Size.Size4">
    日期选择
</Subtitle>
<hr>


<div class="content">
    <p>
        该控件是使用bulma-calendar插件，https://github.com/Wikiki/bulma-calendar,
        该插件有bug，可用功能会慢慢移植
    </p>
</div>

<Columns>
    <Column>
        <DatePicker1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/datepicker/DatePicker1.razor"></HighLight>
    </Column>
</Columns>