dt:<span>@(timeSpan) </span><br>
<DatePicker @bind-Value="timeSpan" Options="opt"></DatePicker>

@code {
    // DateTime? dt1;
    TimeSpan? timeSpan;
    DatePickerOptions opt = new()
    {
        Format = "HH:mm",
        StartView = 0,
        PickTime = true
    };
}