@page "/docs/form/slider"
@layout DocLayout

<Title>Slider滑块</Title>
<Subtitle Size="Size.Size4">
    封装input[type=range]，可以@@bind-Value
</Subtitle>
<hr>


<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<DocView ComType="Slider1"/>
<hr>

<Title Size="Size.Size4" IsSpaced>
    大小
</Title>
<DocView ComType="Slider2"/>
<hr>

<Title Size="Size.Size4" IsSpaced>
    样式：禁用、原型、显示值
</Title>
<DocView ComType="Slider3"/>


