<div class="has-background-light my-2 is-fullwidth">
    <Container IsFullhd>
        <Notification Color="Color.Primary">
            This container is <strong>fullwidth</strong> <em>until</em> the <code>$fullhd</code> breakpoint.
        </Notification>
    </Container>
</div>