<div class="has-background-light my-2 is-fullwidth">
    <Container IsMaxWidescreen>
        <Notification Color="Color.Primary">
            This container has a <code>max-width</code> of <code>$widescreen - $container-offset</code> on widescreen and fullhd.
        </Notification>
    </Container>
</div>
