@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<section @attributes="Attributes" class="@classes">
    @ChildContent
</section>

@code {

    string classes => CssBuilder.Default("section")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-medium",IsMedium)
        .AddClass("is-large", IsLarge)
        .Build();

    /// <summary>
    /// 尺寸
    /// </summary>
    [Parameter]
    public bool IsMedium { get; set; }
    
    [Parameter]
    public bool IsLarge { get; set; }


    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
