@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<section @attributes="Attributes" class="@classes">
    @ChildContent
</section>

@code {

    string classes => CssBuilder.Default("section")
        .AddClassFromAttributes(Attributes)
        .AddClass(Size.Value, Size.Value)
        .Build();

    /// <summary>
    /// 尺寸
    /// </summary>
    [Parameter]
    public Size Size { get; set; } = Size.Default;


    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
