@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<span @attributes="Attributes" class="@classes">
    <i class="@IconClass" aria-hidden="true"></i>
</span>


@code {


    string classes => CssBuilder.Default("panel-icon")
        .AddClassFromAttributes(Attributes)
        .Build();

    /// <summary>
    /// 图标类名
    /// </summary>
    [Parameter]
    public string IconClass { get; set; }

}