@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<span @attributes="Attributes" class="@classes">
    <i class="@IconClass" aria-hidden="true"></i>
</span>


@code {


    string classes => CssBuilder.Default("panel-icon")
        .AddClassFromAttributes(Attributes)
        .Build();


    //[Parameter]
    //public Size Size { get; set; } = Size.Default;

    //[Parameter]
    //public TextColor Color { get; set; } = TextColor.Default;

    [Parameter]
    public string IconClass { get; set; }

}

