@namespace BulmaRazor.Components
@inherits BulmaComponentBase
<nav @attributes="Attributes" class="@classes">

    @if (HeaderText.HasValue() || HeaderSlot!=null)
    {
        <p class="panel-heading">
            @if(HeaderSlot!=null){
                @:@HeaderSlot
            }else{
                @:@HeaderText
            }
        </p>
    }
    @ChildContent
</nav>

@code {
    string classes => CssBuilder.Default("panel")
  .AddClassFromAttributes(Attributes)
        .AddClass(Color.Value, Color.Value)
  .Build();

    [Parameter]
    public Color Color { get; set; } = Color.Default;


    [Parameter]
    public string HeaderText { get; set; }

    [Parameter]
    public RenderFragment HeaderSlot { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
