<Columns>
    <Column IsNarrow>
        <Box style="width:200px">
            <Title Size="Size.Size5">Narrow column</Title>
            <Subtitle>This column is only 200px wide.</Subtitle>
        </Box>
    </Column>
    <Column>
        <Box>
            <Title Size="Size.Size5">Flexible column</Title>
            <Subtitle>This column will take up the remaining space available.</Subtitle>
        </Box>
    </Column>
</Columns>
