@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    @ChildContent
</div>

@code {

    string classes => CssBuilder.Default("timeline")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-rtl", IsRTL)
        .AddClass("is-centered", IsCentered)
        .Build();

    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public bool IsCentered { get; set; }

    /// <summary>
    /// 从右到左
    /// </summary>
    [Parameter]
    public bool IsRTL { get; set; }

    
    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}