@page "/docs/components/panel"
@layout DocLayout

<Title>Panel面板</Title>
<Subtitle Size="Size.Size4">
    可组合的面板，用于紧凑型控件
</Subtitle>
<hr>

<div class="content">
    <p>
        <code>Panel</code> 作为容器，里面可以有这些
    </p>
    <ul>
        <li>
            属性HeaderText或者HeaderSlot设置头部
        </li>
        <li>
            <code>PanelTabs</code>作为导航
        </li>
        <li>
            <code>PanelBlock</code>可以包含其他元素，像：
            <ul>
                <li>
                    <code>Control</code>
                </li>
                <li>
                    <code>Input</code>
                </li>
                <li>
                    <code>Button</code>
                </li>
                <li>
                    <code>PanelIcon</code>
                </li>
            </ul>
        </li>
    </ul>
</div>


<DocView ComType="Panel1"/>


<Content>
    各种Color
</Content>
<Columns>
    <Column><Panel2/></Column>
    <Column><Panel3/></Column>
    <Column><Panel4/></Column>
    <Column><Panel5/></Column>
</Columns>




