<Pagination TotalCount="890" NextText="下一页" PrevText="上一页"/>
<Pagination TotalCount="890" NextText="下一页" PrevText="上一页" IsRight IsSmall/>
<Pagination TotalCount="890" NextText="下一页" PrevText="上一页" IsCentered IsRounded/>
<Pagination TotalCount="890" IsCentered>
    <NextSlot>
        <span>Next</span>
        <Icon IconClass="fa fa-angle-right"></Icon>
    </NextSlot>
    <PrevSlot>
        <Icon IconClass="fa fa-angle-left"></Icon>
        <span>Prev</span>
    </PrevSlot>
</Pagination>