@page "/docs/components/pagination"
@layout DocLayout

<Title>Pagination分页</Title>
<Subtitle Size="Size.Size4">
    响应式，高可用且灵活的分页
</Subtitle>
<hr>

<DocView ComType="Pagination1"/>
<hr>
<Title Size="Size.Size4" IsSpaced>其他属性</Title>
<Content>
    <Table>
        <thead>
        <tr>
            <th>属性名</th>
            <th>类型</th>
            <th>说明</th>
            <th>默认值</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>PageIndex</td>
            <td>int</td>
            <td>当前页</td>
            <td>1</td>
        </tr>
        <tr>
            <td>PageSize</td>
            <td>int</td>
            <td>每页条数</td>
            <td>10</td>
        </tr>
        <tr>
            <td>TotalCount</td>
            <td>int</td>
            <td>总条数</td>
            <td>5</td>
        </tr>
        <tr>
            <td>ItemSize</td>
            <td>int</td>
            <td>分页条大小， 大于等于 5 且小于等于 21 的奇数</td>
            <td>5</td>
        </tr>
        <tr>
            <td>HideOnSinglePage</td>
            <td>bool</td>
            <td>一页是否隐藏</td>
            <td>false</td>
        </tr>
        <tr>
            <td>OnPageChange</td>
            <td>Action&lt;int&gt;</td>
            <td>页面变化时委托</td>
            <td>null</td>
        </tr>
        <tr>
            <td>OnPrevClick</td>
            <td>Action&lt;int&gt;</td>
            <td>点击上一页时委托</td>
            <td>null</td>
        </tr>
        <tr>
            <td>OnNextClick</td>
            <td>Action&lt;int&gt;</td>
            <td>点击上下页时委托</td>
            <td>null</td>
        </tr>
        </tbody>
    </Table>
</Content>