@page "/docs/elements/progress"
@layout DocLayout

<Title>Progress Bar</Title>
<Subtitle Size="Size.Size4">
    Native HTML progress bars 
</Subtitle>
<hr>

<Content>
    进图条可以应用Color,Size属性，如果未设置value属性，则可以显示不确定的进度条。它用来表明正在取得一些进展，但总持续时间尚未确定。  
</Content>

<DocView ComType="Progress1"/>
