@page "/docs/form/select"
@layout DocLayout

<Title>Select表单控件</Title>
<Subtitle Size="Size.Size4">
    下拉选择框
</Subtitle>
<hr>


<div class="content">
    <p>
        用法请参考Input组件，有Color、Size、IsRounded等属性，也可以结合Icon使用，参考通用组件<br>
        <Tag Color="Color.Warning">暂时不支持多选</Tag>
    </p>
</div>

<Title Size="Size.Size4" IsSpaced>
    数据绑定
</Title>
<DocView ComType="Select1"/>
<br>
<div class="content">
    <p>
        可空类型绑定例子
    </p>
</div>
<DocView ComType="Select2"/>