@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<nav @attributes="Attributes" class="@classes">
    @ChildContent
</nav>

@code {

    string classes => CssBuilder.Default("level")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-mobile", IsMobile)
        .Build();

    /// <summary>
    /// 是否是移动端
    /// </summary>
    [Parameter]
    public bool IsMobile { get; set; }

    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}