@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<div @attributes="AdditionalAttributes" class="@classes">
    @ChildContent
</div>

@code {

    string classes => CssBuilder.Default("level-item")
      .AddClassFromAttributes(AdditionalAttributes)
      .AddClass(TextAlign.Value, TextAlign.Value)
      .Build();

    [Parameter]
    public TextAlign TextAlign { get; set; }=TextAlign.Default;
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
