<Panel HeaderText="Repositories">
    <PanelBlock>
        <Control HasIconsLeft>
            <Input TValue="string" placeholder="Search"/>
            <Icon IsLeft IconClass="fa fa-search"/>
        </Control>
    </PanelBlock>
    <PanelTabs>
        <a class="is-active">All</a>
        <a>Public</a>
        <a>Private</a>
        <a>Sources</a>
        <a>Forks</a>
    </PanelTabs>
    <PanelBlock IsActive>
        <PanelIcon IconClass="fa fa-book"></PanelIcon>
        BulmaRazor
    </PanelBlock>
    <PanelBlock>
        <PanelIcon IconClass="fa fa-book"></PanelIcon>
        marksheet
    </PanelBlock>
    <PanelBlock>
        <PanelIcon IconClass="fa fa-book"></PanelIcon>
        marksheet.css
    </PanelBlock>
    <PanelBlock>
        <PanelIcon IconClass="fa fa-book"></PanelIcon>
        loogn.github.com
    </PanelBlock>
    <PanelBlock>
        <PanelIcon IconClass="fa fa-code-fork"></PanelIcon>
        bulmarazor.loogn.net
    </PanelBlock>
    <PanelBlock>
        <PanelIcon IconClass="fa fa-code-fork"></PanelIcon>
        lucky7
    </PanelBlock>
    <PanelBlock>
        <CheckBox TValue="string">remeber me</CheckBox>
    </PanelBlock>
    <PanelBlock>
        <Button Color="Color.Link" IsOutlined IsFullwidth> Reset all filters</Button>
    </PanelBlock>
</Panel>