@page "/docs/form/tuieditor"
@layout DocLayout

<Title>TuiEditor编辑器</Title>
<Subtitle Size="Size.Size4">
    移植于https://ui.toast.com/tui-editor 
</Subtitle>
<hr>

<div class="content">
    
</div>
@* *@
@* <Columns> *@
@*     <Column> *@
@*         <Timeline1/> *@
@*     </Column> *@
@*     <Column> *@
@*         <HighLight FilePath="Pages/docs/components/timeline/Timeline1.razor"/> *@
@*     </Column> *@
@* </Columns> *@
@* <br> *@
@* *@
@* <Columns> *@
@*     <Column> *@
@*         <Timeline2/> *@
@*     </Column> *@
@*     <Column> *@
@*         <HighLight FilePath="Pages/docs/components/timeline/Timeline2.razor"/> *@
@*     </Column> *@
@* </Columns> *@
@* <br> *@