@namespace BulmaRazor.Components

@inherits BulmaComponentBase

@if(!isRemoved){}
<div @attributes="Attributes" class="@classes">
    @if (Removable)
    {
        <button class="delete" @onclick="Remove"></button>
    }
    @ChildContent
</div>
}

@code{

    string classes => CssBuilder.Default("notification")
        .AddClassFromAttributes(Attributes)
        .AddClass(Color.Value, Color.Value)
        .AddClass("is-light", IsLight)
        .Build();
    
    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public bool Removable { get; set; }

    [Parameter]
    public Action OnRemove { get; set; }

    private bool isRemoved { get; set; }

    public void Remove()
    {
        isRemoved = true;
        OnRemove?.Invoke();
    }

    [Parameter]
    public bool IsLight { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}