
<CollapsibleContainer>
    <CollapsibleToggle Target="Hello">Hello</CollapsibleToggle>
    <Collapsible Id="Hello">
        <Notification>
            <p>这里是Hello内容</p>
            <p>这里是Hello内容</p>
            <p>这里是Hello内容</p>
        </Notification>
    </Collapsible>
    <CollapsibleToggle Target="World">World</CollapsibleToggle>
    <Collapsible Id="World">
        <Notification>
            <p>这里是World内容</p>
            <p>这里是World内容</p>
            <p>这里是World内容</p>
        </Notification>
    </Collapsible>
</CollapsibleContainer>
