@page "/docs/components/collapse"
@layout DocLayout

<Title>折叠面板</Title>
<Subtitle Size="Size.Size4">
    不同颜色的折叠面板，手风琴
</Subtitle>


<Columns>
    <Column>
        <Collapse1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/collapse/Collapse1.razor" HasMore MaxHeight="300"/>
    </Column>
</Columns>

<Content>
    CollapseItem和Message组件十分相似，颜色大小都可以设置
</Content>

<Columns>
    <Column>
        <Collapse2/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/collapse/Collapse2.razor" HasMore MaxHeight="300"/>
    </Column>
</Columns>
<hr>
<Title Size="Size.Size4" IsSpaced>万物皆可折叠</Title>
<Content>
    <p>除了折叠面板，可以使用Collapsible组件配合CollapsibleToggle实现自定义折叠，设置CollapsibleToggle的Target等于Collapsible的ID即可。</p>
    <p>
        Collapsible有BeforeExpand、AfterExpand、BeforeCollapse、AfterCollapse四个事件可用
    </p>
</Content>

<Columns>
    <Column>
        <Collapse3/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/collapse/Collapse3.razor" HasMore MaxHeight="300"/>
    </Column>
</Columns>
<Content>
    <p>
        如果想实现一组手风琴折叠，需要用到CollapsibleContainer组件包裹。
    </p>
</Content>
<Columns>
    <Column>
        <Collapse4/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/collapse/Collapse4.razor" HasMore MaxHeight="300"/>
    </Column>
</Columns>