@page "/docs/components/collapse"
@layout DocLayout

<Title>折叠面板</Title>
<Subtitle Size="Size.Size4">
    不同颜色的折叠面板，手风琴
</Subtitle>


<Columns>
    <Column>
        <Collapse1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/collapse/Collapse1.razor" HasMore MaxHeight="300"/>
    </Column>
</Columns>

<Content>
    CollapseItem和Message组件十分相似，颜色大小都可以设置
</Content>

<Columns>
    <Column>
        <Collapse2/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/components/collapse/Collapse2.razor"  HasMore MaxHeight="300"/>
    </Column>
</Columns>