@page "/docs/form/wangeditor"
@layout DocLayout

<Title>WangEditor编辑器</Title>
<Subtitle Size="Size.Size4">
    移植于 https://www.wangeditor.com  Options参数请参考官方
</Subtitle>
<hr>

<DocView ComType="WangEditor1"/>

@code{
}