@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<button @attributes="Attributes" class="@classes"></button>
@code {
    string classes => CssBuilder.Default("delete")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-small", IsSmall)
        .AddClass("is-medium", IsMedium)
        .AddClass("is-large", IsLarge)
        .Build();

    [Parameter]
    public bool IsSmall { get; set; }
    [Parameter]
    public bool IsMedium { get; set; }
    [Parameter]
    public bool IsLarge { get; set; }

}
