@page "/"
@namespace BulmaRazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" @*class="has-navbar-fixed-top"*@>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BulmaRazorServer</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <link href="css/site.css" rel="stylesheet" />
        <link href="BulmaBlazorServer.styles.css" rel="stylesheet" />*@

    <link href="_content/BulmaRazor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="_content/BulmaRazor/bulma.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    @* <script>hljs.initHighlightingOnLoad();</script> *@
    <script>
         window.hlb = (id) => hljs.highlightBlock(document.getElementById(id));
    </script>
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @*<div id="blazor-error-ui">
        <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
        </div>*@

    <script src="_framework/blazor.server.js"></script>
    <script>
        window.getOptionSelected = (element) => element.selected;
        window.setOptionSelected = (element, val) => element.selected = val;
    </script>
</body>

</html>
