@page "/"
@using Microsoft.AspNetCore.Components.Rendering
@inject JSWindow win
@inject BulmaRazorJsInterop jsInterop
@inject IJSRuntime jsruntime

<Hero IsMedium Color="Color.Info" IsBold IsFullheightWithNavbar style="width:100%;">
    <HeroBody>
        <Container>
            <Title Size="Size.Size1">
                BulmaRazor
            </Title>
            <Subtitle Size="Size.Size3">
                BulmaRazor（布尔玛·瑞）是基于Bulma框架开发的一套适用于Blazor的组件库。
            </Subtitle>
            <Buttons>
                <Button href="/docs/overview/start" Color="Color.Info" IsOutlined IsInverted
                    IsLarge>
                    开始BulmaRazor之旅
                </Button>

                <Button href="https://bulma.io/" target="_blank" Color="Color.Info" IsOutlined IsInverted
                    IsLarge>
                    bulma.css官网
                </Button>
            </Buttons>
        </Container>
    </HeroBody>
</Hero>

@code{

}