@page "/"
@using Microsoft.AspNetCore.Components.Rendering
@inject JSWindow win
<Hero Size="Size.Medium" Color="Color.Primary" style="width:100%" IsBold IsFullheightWithNavbar>
    <BodySlot>
        <Container>
            <Title Size="Size.Size1">
                BulmaRazor
            </Title>
            <Subtitle Size="Size.Size3">
                BulmaRazor 是一个基于 Blazor 和 Bluma 样式框架构建的弹性组件库。
            </Subtitle>
            <Buttons>
                <Button href="https://bulma.io/" target="_blank" Color="Color.Info" IsOutlined IsInverted
                    Size="Size.Large">bulma官网</Button>
                <Button href="https://bulma.zcopy.site/" target="_blank" Color="Color.Primary" IsOutlined IsInverted
                    Size="Size.Large">bulma中文文档</Button>
            </Buttons>
        </Container>
    </BodySlot>
</Hero>




@code{
    MarkupString csslinks1 = (MarkupString)@"<link href='_content/BulmaRazor/font-awesome/css/font-awesome.css'
rel='stylesheet' />";
    MarkupString csslinks2 = (MarkupString)@"<link href='_content/BulmaRazor/bulma.css' rel='stylesheet' />";

}