@page "/"
@inject JSWindow win
<Hero Size="Size.Medium" Color="Color.Primary" style="width:100%" IsBold IsFullheightWithNavbar>
    <BodySlot>
        <Container>
            <Title Size="Size.Size1">
                BulmaRazor
            </Title>
            <Subtitle Size="Size.Size3">
                BulmaRazor 是一个基于 Blazor 和 Bluma 样式框架构建的弹性组件库。
            </Subtitle>
            <Section>
            <Media>
                <LeftSlot>
                    <Title Size="Size.Size5">1</Title>
                </LeftSlot>
                <ContentSlot>
                    <Title Size="Size.Size5">引入Nuget包</Title>
                    <figure>
                        <code>Install-Package BulmaRazor</code>
                    </figure>
                </ContentSlot>
            </Media>

            <Media>
                <LeftSlot>
                    <Title Size="Size.Size5">2</Title>
                </LeftSlot>
                <ContentSlot>
                    <Title Size="Size.Size5">_Host.cshtml或index.html中引入CSS样式</Title>
                    <figure>
                        <code>@(csslinks1.Value)<br>@(csslinks2.Value)</code>
                    </figure>
                </ContentSlot>
            </Media>
            <Media>
                <LeftSlot>
                    <Title Size="Size.Size5">3</Title>
                </LeftSlot>
                <ContentSlot>
                    <Title Size="Size.Size5">在_Imports.razor中导入名称空间</Title>
                    <figure>
                        <code>@@using BulmaRazor.Components</code>
                    </figure>
                </ContentSlot>
            </Media>
</Section>

            <Buttons>
                <Button href="https://bulma.io/" target="_blank" Color="Color.Info" IsOutlined IsInverted Size="Size.Large">bulma官网</Button>
                <Button href="https://bulma.zcopy.site/" target="_blank" Color="Color.Primary" IsOutlined IsInverted Size="Size.Large">bulma中文文档</Button>
            </Buttons>
        </Container>
    </BodySlot>
</Hero>




@code{

    
    MarkupString csslinks1=(MarkupString)@"<link href='_content/BulmaRazor/font-awesome/css/font-awesome.css' rel='stylesheet' />";
    MarkupString csslinks2=(MarkupString)@"<link href='_content/BulmaRazor/bulma.css' rel='stylesheet' />";
    
}