@page "/"
@inject JSWindow win


<Hero Size="Size.Medium" class="is-hidden">
    <HeroBody>
        <Container>
            <Title Size="Size.Size2">
                BulmaRazor 是基于 Bulma 框架、免费开源的 Razor 组件库。
            </Title>
        </Container>
        <br />
        <br />
        <br />
        <Buttons Align="Align.Centered">
            <Button Color="Color.Dark" Size="Size.Large">开始使用</Button>
        </Buttons>
    </HeroBody>
</Hero>


<p>i的值: @i</p>




<Radios @bind-Value="@i" OnValueChanged="FF">
    <Radio Name="ab" Value="1" style="color:red">111</Radio>
    <Radio Name="ab" Value="2">222</Radio>
    <Radio Name="ab" Value="3" Disabled>333</Radio>
    <Radio Name="ab" Value="4">444</Radio>
</Radios>

<p>@i</p>

<Button @onclick="e=>win.alert(str)">Show</Button>

@code{
    string str = "2";
    int i = 2;

    private Dropdown ddl;

    void f(string v)
    {
        win.console.log(v);
    }
    void FF(int i)
    {
        win.alert(i.ToString());
    }
    void closeddl()
    {
        ddl.Trigger(false);
    }

    Task show(TabsItem item)
    {

        win.alert(item.Index.ToString());
        return Task.CompletedTask;
    }
}