@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container class="@B.PY6">

    <Backtop Target="#sc"></Backtop>
    <Backtop Bottom="80" IsLight Color="Color.Danger" Target="#sc"></Backtop>
    
    <Backtop Right="80" IsRounded="false" Target="#sc">Up</Backtop>
    <br>
    
    <div id="sc" style="height:400px; border: 1px solid red; overflow: auto">
    @for (var i = 0; i < 40; i++)
        {
            <p>@i sdfsdfdsfjlkas;d</p>
            <p>sdfsdfdsfjlkas;d</p>
        }
    </div>
    
    <Table IsBordered style="position: relative;">
        <Loading IsPulse IsActive="@loading" Color="Color.Danger" Text="文本"></Loading>
        <thead>
        <tr>
            <th>One</th><th>Two</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>one</td><td>two</td>
        </tr>
        <tr class="@B.Selected">
            <td>one</td><td>two</td>
        </tr>
        <tr>
            <td>one</td><td>two</td>
        </tr>
        </tbody>
    </Table>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <Button @onclick="Loading">loading</Button>
  <p>sdfsdfdsfjlkas;d</p>
      <p>sdfsdfdsfjlkas;d</p>
      <p>sdfsdfdsfjlkas;d</p>
      <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
        <p>sdfsdfdsfjlkas;d</p>
        <p>sdfsdfdsfjlkas;d</p>
        <p>sdfsdfdsfjlkas;d</p>
        <p>sdfsdfdsfjlkas;d</p>
</Container>

@code{

    bool loading = false;
    private void Loading()
    {
        loading = !loading;
    }

}