@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">

    <DatePicker @ref="dp" @bind-Value="dt" OnShow="show" Options="options"></DatePicker>

    
        <button @onclick="divFun" @onclick:stopPropagation="false">Load</button>
    

</Container>

@code{
    DateTime? dt;
    DatePicker<DateTime?> dp;
    DatePickerOptions options = new DatePickerOptions()
    {
        Format = "HH:mm",
        StartView = 0,
        PickTime = true,
        CloseButton = true
    };
    
    void divFun()
    {
        dp.Show();
    }

    void show()
    {
        ToastService.Show("show.click");
    }



    void fun()
    {
    }

}