@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container class="@B.PY6">

    <br>
    <Table IsBordered style="position: relative;">
        <Loading IsPulse IsActive="@loading" Color="Color.Danger" Text="文本"></Loading>
        <thead>
        <tr>
            <th>One</th><th>Two</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>one</td><td>two</td>
        </tr>
        <tr class="@B.Selected">
            <td>one</td><td>two</td>
        </tr>
        <tr>
            <td>one</td><td>two</td>
        </tr>
        </tbody>
    </Table>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <p>sdfsdfdsfjlkas;d</p>
    <Button @onclick="Loading">loading</Button>
</Container>

@code{

    bool loading = false;
    private void Loading()
    {
        loading = !loading;
    }

}