@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">

    <DatePicker @bind-Value="dt" Options="options"></DatePicker>

    <div @onclick="divFun">
        sfafafsaf
        <button @onclick="load" @onclick:stopPropagation="false">Load</button>
    </div>

</Container>

@code{
    DateTime? dt;

    DatePickerOptions options = new DatePickerOptions()
    {
        Format = "HH:mm",
        StartView = 0,
        PickTime = true
    };
    
    void divFun()
    {
        ToastService.Show("Div.click");
    }

    async Task load()
    {
        ToastService.Show("load.click");
    }



    void fun()
    {
    }

}