@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">

    
    <div @onclick="divFun">
    sfafafsaf
        <button @onclick="load" @onclick:stopPropagation="false">Load</button>
    </div>
    
    <Button @onclick="showMarkdown">ShowMarkdown</Button>

    
    
</Container>

@code{

    TuiEditor editor;
    private string markdown = "# Init Title";

    TuiEditorOptions options = new()
    {
        PreviewStyle = "vertical",
        ToolbarItems = new[] {"heading", "bold", "italic"}
    };

    void divFun()
    {
        ToastService.Show("Div.click");
    }

    async Task load()
    {
        ToastService.Show("load.click");
    }

    async Task showMarkdown()
    {
        ToastService.Show(markdown);
    }


    void fun()
    {
    }

}