@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container class="@B.PY6">

    <div>value:@dateTime</div>
    <Calendar @bind-Value="dateTime" ShowLunar OnValueChanged="Change">
        <DaySlot>
            @if (context.IsToday)
            {
                <div>
                    <ul>
                        @for (var i = 0; i < 6; i++)
                        {
                            <li>
                                <Tag>name @i</Tag>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                @:@context.RenderDefault 
            }

        </DaySlot>
    </Calendar>

</Container>

@code{
    private DateTime dateTime = DateTime.Now.AddDays(-1);
    private int inta = 0;
    private double dbla = 17.00;

    private void Change(CalendarDay day)
    {
        ToastService.Show(day.Lunar.DayName);
    }

}