@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container class="@B.PY6">

    <p>inta: @inta</p>

    <Control>
        <NumberInput Min="0" IsSmall Max="10" TValue="int" @bind-Value="inta"></NumberInput>
    </Control>

    <Control>
        <NumberInput IsLarge TValue="double" Precision="2" Step="0.1" @bind-Value="dbla"></NumberInput>
    </Control>

    <Control>
        <NumberInput IsMedium Step="2" IsStrictStep TValue="int" @bind-Value="inta"></NumberInput>
    </Control>

    <Control>
        <NumberInput IsNormal Step="2" IsStrictStep TValue="int" @bind-Value="inta"></NumberInput>
    </Control>

    <Control>
        <NumberInput Step="2" IsStrictStep TValue="int" @bind-Value="inta"></NumberInput>
    </Control>

</Container>

@code{
    private int inta = 0;
    private double dbla = 17.00;
}