@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">
    
    
    
    <Button @onclick="load">Load</Button>

    <CheckBox @ref="cb" TValue="string"></CheckBox>
    
</Container>

@code{
    private string str = "";
    CheckBox<string> cb;
  
    async Task load()
    {
        cb.SetIndeterminate();
    }

    
    void fun()
    {
       
    }

}