@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">

    <div style="background-color: @color;width: 100px;height: 100px;">@color</div>
    <ColorPicker @bind-Value="color" BindEvent="oninput"></ColorPicker>
    
    <hr>
    <span>date: <i>@dt</i></span>
    <DatePicker @ref="dp" @bind-Value="dt" OnShow="show" Options="options"></DatePicker>
    <button @onclick="divFun" @onclick:stopPropagation="false">Load</button>
    
</Container>

@code{
    string color;
    DateTime? dt;
    DatePicker<DateTime?> dp;
    DatePickerOptions options = new DatePickerOptions()
    {
        //Format = "HH:mm",
        //StartView = 0,
        PickTime = true,
        //CloseButton = true
    };
    
    void divFun()
    {
        dp.Show();
    }

    void show()
    {
        ToastService.Show("show.click");
    }



    void fun()
    {
    }

}