@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">
    <Field>
        <Button @onclick="load">Show</Button>
        <p>Date:<span>@dt1?.ToString("yyyy-MM-dd")</span></p>
    </Field>
    <Field>
        <Control>
            <DatePicker @bind-Value="dt1"></DatePicker>
        </Control>
    </Field>
    <Field>
        <Control>
            <DatePicker @bind-StartDate="dt1" @bind-EndDate="dt2" Options="datePickOption1"></DatePicker>
        </Control>
    </Field>
    
    <TagsInput @ref="tagsi" Color="Color.Danger" IsLarge @bind-Value="str"></TagsInput>
    <br>
    str:<span>@str</span>
    <hr>
    <Button @onclick="load">Load</Button>

</Container>

@code{
    private string str = "";
    
    DateTime? dt1 = DateTime.Parse("2020-01-01");
    DateTime? dt2 = DateTime.Parse("2020-03-03");
    TagsInput tagsi;
    DatePickerOptions datePickOption1 = new DatePickerOptions()
    {
        
    };

    void bexpand()
    {
        ToastService.Show("开始显示");
    }

    bool act = false;
    Dialog dialog;

    bool loading;

    async Task load()
    {
        tagsi.Flush();
    }

    DateTime? date = DateTime.Now;
    TimeSpan? ts;

    void fun()
    {
        ToastService.Show("hello world");
        ToastService.Show(new ToastOptions()
        {
            Message = "Hello world 你好世界",
            Color = Color.Primary,
    // Dismissible = false,
            
            Animate = new ToastAnimate("backInDown", "fadeOutDownBig")
        });
    }

}