@page "/test"
@using BulmaRazorServer.Pages.docs.components.datatable

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">
    
    <p>
    value: @val    
    </p>
    <Slider disabled HasOutput IsCircle max="10" min="1" Color="Color.Primary" @bind-Value="val"></Slider>

</Container>
@code{
    int val=3;
}