@using BulmaRazorServer.Pages.docs.elements
@inject BulmaRazorJsInterop JsInterop
@inject ToastJs toast

<Button @onclick="fun">
    <Badge Color="Color.Info" IsBottomLeft>8</Badge>
    CLick
</Button>


@code{

    void fun()
    {
        toast.Toast(new ToastOptions()
        {
            Message = "Hello world 你好世界",
            Color = Color.Primary,
    // Dismissible = false,
            
            Animate = new ToastAnimate("backInDown", "fadeOutDownBig")
        });
    }

}