@page "/test"
@using BulmaRazorServer.Pages.docs.components.datatable

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">

    
    <div style="width:670px;">
        score:<span>@score</span>
        <Rate @bind-Value="score"
               LowColor="#99A9BF"
               MiddleColor="#F7BA2A"
               HighColor="#FF0000"
               LowIconClass="fa-frown-o"
               MiddleIconClass="fa-meh-o"
               HighIconClass="fa-smile-o"
               VoidIconClass="fa-meh-o"
               TextColor="#ff9900" ShowScore OnChanged="divFun">
        </Rate>
    </div>
</Container>

@code{
    double score = 4.8;
    void divFun(double score)
    {
        ToastService.Show(score.ToString());
    }

    bool filterFunc(Person p, string kw)
    {
        if (p.Id == 1)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    void show()
    {
        ToastService.Show("show.click");
    }

    void fun()
    {
    }

}