@page "/test"

@using BulmaRazorServer.Pages.docs.elements
@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">
    <Field>
        <Button @onclick="() => cal.Show()">Show</Button>
        <p>Date:<span>@date</span></p>
    </Field>
    <Field>
        <Control>
            <Calendar @ref="                                    cal" @bind-Value="date" type="date" Options="@_options"></Calendar>
        </Control>
    </Field>
    <Field>
        <Control>
            <Container>
                <Calendar @ref="                                            cal2" @bind-Value="ts" type="time" Options="@_options2"></Calendar>
            </Container>
        </Control>
    </Field>


    <hr>
    <Button @onclick="load">Load</Button>

    <Quickview IsActive="act" HeaderText="菜单">
        <Content>
            <Field>
                <Control>
                    <Input @bind-Value="ts"></Input>
                </Control>
            </Field>
        </Content>
    </Quickview>
    <br>
    <hr>
    <CollapsibleContainer>
        <CollapsibleToggle Target="ab">Hello</CollapsibleToggle>
        <Collapsible Id="ab" BeforeExpand="bexpand">
            <Notification>
                <p>这里是内容</p>
                <p>这里是内容</p>
                <p>这里是内容</p>
            </Notification>
        </Collapsible>
        <hr>
        <CollapsibleToggle Target="abc">World</CollapsibleToggle>
        <Collapsible Id="abc">
            <Notification>
                <p>这里是内容</p>
                <p>这里是内容</p>
                <p>这里是内容</p>
            </Notification>
        </Collapsible>
    </CollapsibleContainer>
</Container>


@code{

    void bexpand()
    {
        ToastService.Show("开始显示");
    }
    bool act = false;
    Dialog dialog;

    bool loading;

    async Task load()
    {
        act = true;
    }

    private Calendar<DateTime?> cal;
    private Calendar<TimeSpan?> cal2;

    CalenderOptions _options = new()
    {
        type = "datetime",
        disabledWeekDays = new List<int> {1, 2},
        disabledDates = new List<DateTime>() {DateTime.Now}
    };

    CalenderOptions _options2 = new()
    {
        type = "time",
        color = "danger",
        closeOnSelect = false,
    };

    DateTime? date = DateTime.Now;
    TimeSpan? ts;

    void fun()
    {
        ToastService.Show("hello world");
        ToastService.Show(new ToastOptions()
        {
            Message = "Hello world 你好世界",
            Color = Color.Primary,
    // Dismissible = false,
            
            Animate = new ToastAnimate("backInDown", "fadeOutDownBig")
        });
    }

}