@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">

    <TuiEditor @ref="editor" @bind-Value="markdown" Options="options"></TuiEditor>

    <div>
        @markdown
    </div>
    <Button @onclick="load">Load</Button>
    <Button @onclick="showMarkdown">ShowMarkdown</Button>

</Container>

@code{

    TuiEditor editor;
    private string markdown = "# Init Title";

    TuiEditorOptions options = new()
    {
        PreviewStyle = "vertical",
        ToolbarItems = new[] {"heading", "bold", "italic"}
    };

    async Task load()
    {
        editor.InsertText(" ## " + new Random().Next());
    }

    async Task showMarkdown()
    {
        ToastService.Show(markdown);
    }


    void fun()
    {
    }

}