@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">

    <Steps IsNarrow IsMedium IsCentered HasContentCentered>
        <StepsSegment>
            <StepsMarker>
                <Icon IconClass="fa fa-shopping-cart"></Icon>
            </StepsMarker>
            <StepsContent>
                <p class="heading">Shopping Cart</p>
            </StepsContent>
        </StepsSegment>
        <StepsSegment>
            <StepsMarker>
                <Icon IconClass="fa fa-user"></Icon>
            </StepsMarker>
            <StepsContent>
                <p class="heading">User Information</p>
            </StepsContent>
        </StepsSegment >
        <StepsSegment IsActive HasGaps>
            <StepsMarker>
                <Icon IconClass="fa fa-usd"></Icon>
            </StepsMarker>
            <StepsContent>
                <p class="heading">Payment</p>
            </StepsContent>
        </StepsSegment>
        <StepsSegment>
            <StepsMarker IsHollo>
                <Icon IconClass="fa fa-check"></Icon>
            </StepsMarker>
            <StepsContent>
                <p class="heading">Confirmation</p>
            </StepsContent>
        </StepsSegment>
    </Steps>

    <div @onclick="divFun">
        sfafafsaf
        <button @onclick="load" @onclick:stopPropagation="false">Load</button>
    </div>

    <Button @onclick="showMarkdown">ShowMarkdown</Button>


</Container>

@code{

    TuiEditor editor;
    private string markdown = "# Init Title";

    TuiEditorOptions options = new()
    {
        PreviewStyle = "vertical",
        ToolbarItems = new[] {"heading", "bold", "italic"}
    };

    void divFun()
    {
        ToastService.Show("Div.click");
    }

    async Task load()
    {
        ToastService.Show("load.click");
    }

    async Task showMarkdown()
    {
        ToastService.Show(markdown);
    }


    void fun()
    {
    }

}