@inject BulmaRazorJsInterop JsInterop

@* *@
@* <Input @bind-Value="str" /> *@
@* <Button @onclick="clk">Click</Button> *@
@code{
    private string str = "23d";

    bool? b=true;
    DateTime? dateTime=DateTime.Now;
    HashSet<int> list=new HashSet<int>{1,2};
    private int i = 2;
    async Task clk()
    {
        if (await JsInterop.Confirm("弹出还是Log"))
        {
            await JsInterop.Alert(str);    
        }
        else
        {
            await JsInterop.Log("jsinterop",str);
        }
    }
}