@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container class="@B.PY6">

    <p>inta: @inta</p>

    
    <Control>
        <NumberInput IsLarge TValue="double" Precision="2" Step="0.01" @bind-Value="dbla"></NumberInput>
    </Control>

</Container>

@code{
    private int inta = 0;
    private double dbla = 17.00;
}