@page "/test"

@inject BulmaRazorJsInterop JsInterop
@inject ToastService ToastService

<Container style="overflow: scroll" class="@B.PY6">


    <div style="width:200px">
        <Menu>
            <MenuList>
                <MenuItem>
                    <MenuTitle>第一级1</MenuTitle>
                    <MenuList>
                        <MenuItem>
                            <MenuTitle>23323233</MenuTitle>
                        </MenuItem>
                        <MenuItem>
                            <MenuTitle>
                                23323233

                            </MenuTitle>
                            <MenuList>
                                <MenuItem>
                                    <MenuTitle>23323233</MenuTitle>
                                </MenuItem>
                                <MenuItem>
                                    <MenuTitle>23323233</MenuTitle>
                                </MenuItem>
                                <MenuItem>
                                    <MenuTitle>23323233</MenuTitle>
                                </MenuItem>
                            </MenuList>
                        </MenuItem>
                        <MenuItem>
                            <MenuTitle>23323233</MenuTitle>
                        </MenuItem>
                    </MenuList>
                </MenuItem>
                <MenuItem>
                    <MenuTitle>第一级2</MenuTitle>
                    <MenuList>
                        <MenuItem>
                            <MenuTitle>aaa</MenuTitle>
                        </MenuItem>
                        <MenuItem>
                            <MenuTitle>bbb</MenuTitle>
                        </MenuItem>
                        <MenuItem>
                            <MenuTitle>ccc</MenuTitle>
                        </MenuItem>
                    </MenuList>
                </MenuItem>
            </MenuList>
        </Menu>
    </div>


    <div @onclick="divFun">
        sfafafsaf
        <button @onclick="load" @onclick:stopPropagation="false">Load</button>
    </div>

    <Button @onclick="showMarkdown">ShowMarkdown</Button>


</Container>

@code{

    TuiEditor editor;
    private string markdown = "# Init Title";

    TuiEditorOptions options = new()
    {
        PreviewStyle = "vertical",
        ToolbarItems = new[] {"heading", "bold", "italic"}
    };

    void divFun()
    {
        ToastService.Show("Div.click");
    }

    async Task load()
    {
        ToastService.Show("load.click");
    }

    async Task showMarkdown()
    {
        ToastService.Show(markdown);
    }


    void fun()
    {
    }

}