@page "/docs/elements/pageheader"
@layout DocLayout

<Title>PageHeader 页头</Title>
<Subtitle Size="Size.Size4">
    如果页面的路径比较简单，推荐使用页头组件而非面包屑组件。 
</Subtitle>
<hr>


<Title Size="Size.Size4" IsSpaced>
    用发
</Title>
<DocView ComType="PageHeader1"/>

