@page "/docs/components/datatable"
@layout DocLayout

<Title>数据表格(DataTable)</Title>
<Subtitle Size="Size.Size4">
    一个使用Data属性绑定数据源的简单表格
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    下面例子中的数据模型
</Title>

<HighLight FilePath="Pages/docs/components/datatable/Person.cs"   Language="csharp" HasMore></HighLight>

<Title Size="Size.Size4" IsSpaced>
    基础功能
</Title>
<DocView ComType="DataTable1"/>

<Title Size="Size.Size4" IsSpaced>
    分页逻辑
</Title>
<DocView ComType="DataTable2"/>

<Title Size="Size.Size4" IsSpaced>
    自定义列
</Title>
<DocView ComType="DataTable3"/>


<Title Size="Size.Size4" IsSpaced>
    列排
</Title>
<DocView ComType="DataTable4"/>



<Title Size="Size.Size4" IsSpaced>
    过滤
</Title>
<DocView ComType="DataTable9"/>

<Title Size="Size.Size4" IsSpaced>
    展开行(详细行)
</Title>
<DocView ComType="DataTable5"/>

<Title Size="Size.Size4" IsSpaced>
    index列
</Title>
<DocView ComType="DataTable7"/>

<Title Size="Size.Size4" IsSpaced>
    单击选中行
</Title>
<DocView ComType="DataTable6"/>


<Title Size="Size.Size4" IsSpaced>
    多选行
</Title>
<DocView ComType="DataTable8"/>

