@page "/docs/components/datatable"
@layout DocLayout

<Title>数据表格(DataTable)</Title>
<Subtitle Size="Size.Size4">
    一个使用Data属性绑定数据源的简单表格
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    下面例子中的数据模型
</Title>

<HighLight FilePath="Pages/docs/components/datatable/Person.cs"   Language="csharp" HasMore></HighLight>

<Title Size="Size.Size4" IsSpaced>
    基础功能
</Title>
<DataTable1/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable1.razor" HasMore></HighLight>
<Title Size="Size.Size4" IsSpaced>
    分页逻辑
</Title>
<DataTable2/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable2.razor" HasMore></HighLight>

<Title Size="Size.Size4" IsSpaced>
    自定义列
</Title>
<DataTable3/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable3.razor" HasMore></HighLight>


<Title Size="Size.Size4" IsSpaced>
    列排
</Title>
<DataTable4/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable4.razor" HasMore></HighLight>



<Title Size="Size.Size4" IsSpaced>
    过滤
</Title>
<DataTable9/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable9.razor" HasMore></HighLight>

<Title Size="Size.Size4" IsSpaced>
    展开行(详细行)
</Title>
<DataTable5/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable5.razor" HasMore></HighLight>

<Title Size="Size.Size4" IsSpaced>
    index列
</Title>
<DataTable7/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable7.razor" HasMore></HighLight>

<Title Size="Size.Size4" IsSpaced>
    单击选中行
</Title>
<DataTable6/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable6.razor" HasMore></HighLight>


<Title Size="Size.Size4" IsSpaced>
    多选行
</Title>
<DataTable8/>
<HighLight FilePath="Pages/docs/components/datatable/DataTable8.razor" HasMore></HighLight>

