<Content>
    <Field>
        <Label>Val的值：</Label>
        <Control>
            <Input Value="val" IsStatic />
        </Control>
    </Field>
    <Field>
        <Label>复选框：</Label>
        <Control>
           <CheckBox indeterminate @bind-Checked="val" TValue="string">
                I agree to the <a href="#">terms and conditions</a>
           </CheckBox>
        </Control>
    </Field>
    <Field>
        <Control>
            <Button Color="Color.Info" @onclick="setNewValue">反选</Button>
        </Control>
    </Field>
</Content>
@code{
    bool val;
    void setNewValue()
    {
        val=!val;
    }
}
