@page "/docs/form/file"
@layout DocLayout

<Title>File表单控件</Title>
<Subtitle Size="Size.Size4">
    包装的InputFile元素
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    属性例子
</Title>

<Columns>
    <Column>
        <File1 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/File1.razor"></HighLight>
    </Column>
</Columns>