<Field>
   <Control HasIconsLeft>
      <Select TValue="string">
         <Option TValue="string">Country</Option>
         <Option TValue="string">Select dropdown</Option>
         <Option TValue="string">With options</Option>
      </Select>
      <Icon IsLeft IsSmall IconClass="fa fa-globe"></Icon>
   </Control>
</Field>
