<Field>
   <Label>Normal input</Label>
   <Control HasIconsLeft HasIconsRight>
       <Input type="email" TValue="string" placeholder="Small Icon" />
      <Icon IsLeft IsSmall IconClass="fa fa-envelope"></Icon>
      <Icon IsRight IsSmall IconClass="fa fa-check"></Icon>
   </Control>
</Field>
<Field>
   <Control HasIconsLeft HasIconsRight>
       <Input type="email" IsLarge TValue="string" placeholder="Small Icon" />
      <Icon IsLeft IsSmall IconClass="fa fa-envelope fa-xs"></Icon>
      <Icon IsRight IsSmall IconClass="fa fa-check fa-xs"></Icon>
   </Control>
</Field>