<Field>
   <Label Size="Size.Small">Small input</Label>
   <Control HasIconsLeft HasIconsRight>
       <Input type="email" Size="Size.Small" TValue="string" placeholder="Small" />
      <Icon IsLeft Size="Size.Small" IconClass="fa fa-envelope"></Icon>
      <Icon IsRight Size="Size.Small" IconClass="fa fa-check"></Icon>
   </Control>
</Field>