<Field>
   <Control HasIconsLeft HasIconsRight>
      <Input type="email" TValue="string" placeholder="Email" />
      <Icon IsLeft IsSmall IconClass="fa fa-envelope"></Icon>
      <Icon IsRight IsSmall IconClass="fa fa-check"></Icon>
   </Control>
</Field>
<Field>
   <Control HasIconsLeft>
      <Input type="password" TValue="string" placeholder="Password" />
      <Icon IsLeft IsSmall IconClass="fa fa-lock"></Icon>
   </Control>
</Field>
<Field>
   <Control>
      <Button Color="Color.Success">Login</Button>
   </Control>
</Field>
