<Field>
   <Label>Normal input</Label>
   <Control HasIconsLeft HasIconsRight>
       <Input type="email" TValue="string" placeholder="Small Icon" />
      <Icon IsLeft Size="Size.Small" IconClass="fa fa-envelope"></Icon>
      <Icon IsRight Size="Size.Small" IconClass="fa fa-check"></Icon>
   </Control>
</Field>
<Field>
   <Control HasIconsLeft HasIconsRight>
       <Input type="email" Size="Size.Large" TValue="string" placeholder="Small Icon" />
      <Icon IsLeft Size="Size.Small" IconClass="fa fa-envelope fa-xs"></Icon>
      <Icon IsRight Size="Size.Small" IconClass="fa fa-check fa-xs"></Icon>
   </Control>
</Field>