<Field>
   <Label IsSmall>Small input</Label>
   <Control HasIconsLeft HasIconsRight>
       <Input type="email" IsSmall TValue="string" placeholder="Small" />
      <Icon IsLeft IsSmall IconClass="fa fa-envelope"></Icon>
      <Icon IsRight IsSmall IconClass="fa fa-check"></Icon>
   </Control>
</Field>