<Content>
    <Field>
        <Label>country的值：</Label>
        <Control>
            <Input Value="country" IsStatic />
        </Control>
    </Field>
    <Field>
        <Label>选择框：</Label>
        <Control>
            <Select @bind-Value="country">
                <Option Value="0">-选择国家-</Option>
                <Option Value="1">中国</Option>
                <Option Value="2">美国</Option>
                <Option Value="3">俄罗斯</Option>
            </Select>
        </Control>
    </Field>
    <Field>
        <Control>
            <Button Color="Color.Info" @onclick="setNewValue">绑定值+1</Button>
        </Control>
    </Field>
</Content>
@code{
    int country = 0;
    void setNewValue()
    {
        country++;
    }
}
