@page "/docs/form/textarea"
@layout DocLayout

<Title>Textarea表单控件</Title>
<Subtitle Size="Size.Size4">
    多行文本输入框
</Subtitle>
<hr>


<div class="content">
    <p>
        用法请参考Input组件
    </p>
</div>
