<Buttons>
    <Button>
        <Badge title="Badge top right">8</Badge>
        Button
    </Button>
    <Button>
        <Badge IsOutlined title="Badge top right">8</Badge>
        Button
    </Button>
</Buttons>