@page "/docs/elements/badge"
@layout DocLayout

<Title>徽章(Badge)</Title>
<Subtitle Size="Size.Size4">
    轻松地在不同位置显示附加到任何类型元素的徽章。
</Subtitle>
<hr>

<Content>
    <p>注意：包含徽章的元素必须具有display: relative 才能起作用。</p>
</Content>

<Title Size="Size.Size4" IsSpaced>样式</Title>
<DocView ComType="Badge1"/>

<hr>


<Title Size="Size.Size4" IsSpaced>Colors</Title>
<DocView ComType="Badge2"/>
<hr>


<Title Size="Size.Size4" IsSpaced>位置</Title>
<DocView ComType="Badge3"/>