<p>自定义颜色块</p>
val:<span>@val</span><br>
<ColorPicker @bind-Value="val" Options="options"></ColorPicker>

@code {
    private string val="";
    ColorPickerOptions options = new()
    {
        Palette = new []{"#fff","#000","#808080","#996e36","#f55525",
            "#ffe438","#88dd20","#22e0cd","#269aff","#bb1cd4"},
    };
}