<Card>
    <CardImage>
        <Image Ratio="Ratio.Ratio4by3">
            <img src="/images/image-placeholder.jpg" alt="placeholder  imag"/>
        </Image>
    </CardImage>
    <CardContent>
        <Media>
            <MediaLeft>
                <Image Size="Size.Square48">
                    <img src="/images/image-placeholder.jpg"/>
                </Image>
            </MediaLeft>
            <MediaContent>
                <Title Size="Size.Size4">Loogn</Title>
                <Subtitle Size="Size.Size6">@@loogn</Subtitle>
            </MediaContent>
        </Media>
        <Content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </Content>
    </CardContent>
</Card>
