@page "/docs/elements/notification"
@layout DocLayout

<Title>Notification</Title>
<Subtitle Size="Size.Size4">
    粗体的通知栏，提醒您的用户某些内容 
</Subtitle>
<hr>

<Content>
    通知是一个简单的彩色块，旨在引起用户对某些事物的注意。 因此，它可以用作视口角落的固定通知。 这就是为什么它支持使用delete元素的原因。 
</Content>

<Columns>
    <Column>
        <Notification1/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/elements/notification/Notification1.razor"/>
    </Column>
</Columns>

<Columns>
    <Column>
        <Notification2/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/elements/notification/Notification2.razor"/>
    </Column>
</Columns>

<Columns>
    <Column>
        <Notification3/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/elements/notification/Notification3.razor"/>
    </Column>
</Columns>

<Title Size="Size.Size4" IsSpaced>
    添加Delete
</Title>

<Columns>
    <Column>
        <Notification4/>
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/elements/notification/Notification4.razor"/>
    </Column>
</Columns>