<Notification Color="Color.Primary">
    <Delete></Delete>
    这里使用了<string>Delete组件</string>
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>,
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</Notification>