@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>
@code {
    string classes => CssBuilder.Default("tags")
        .AddClassFromAttributes(Attributes)
        .AddClass(AreSize.Value, AreSize.Value)
        .AddClass("has-addons", HasAddons)
        .Build();



    [Parameter]
    public AreSize AreSize { get; set; } = AreSize.Default;


    [Parameter]
    public bool HasAddons { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


}
