@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="Attributes" class="@classes">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>
@code {
    string classes => CssBuilder.Default("tags")
        .AddClassFromAttributes(Attributes)
        .AddClass("are-small", AreSmall)
        .AddClass("are-medium", AreMedium)
        .AddClass("are-large", AreLarge)
        .AddClass("has-addons", HasAddons)
        .Build();


    [Parameter]
    public bool AreSmall { get; set; }
    [Parameter]
    public bool AreMedium { get; set; }
    [Parameter]
    public bool AreLarge { get; set; }

    [Parameter]
    public bool HasAddons { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


}
