<Buttons>
    <Button disabled>Default</Button>
    <Button disabled Color="Color.Primary">Primary</Button>
    <Button disabled Color="Color.Success">Success</Button>
    <Button disabled Color="Color.Info">Info</Button>
    <Button disabled Color="Color.Warning">Warning</Button>
    <Button disabled Color="Color.Danger">Danger</Button>
    <Button disabled Color="Color.Ghost">Ghost</Button>
    <Button disabled Color="Color.Dark">Dark</Button>
    <Button disabled Color="Color.Link">Link</Button>
    <Button disabled Color="Color.Light">Light</Button>
</Buttons>
<Buttons>
    <Button disabled IsLight>Default</Button>
    <Button disabled IsLight Color="Color.Primary">Primary</Button>
    <Button disabled IsLight Color="Color.Success">Success</Button>
    <Button disabled IsLight Color="Color.Info">Info</Button>
    <Button disabled IsLight Color="Color.Warning">Warning</Button>
    <Button disabled IsLight Color="Color.Danger">Danger</Button>
    <Button disabled IsLight Color="Color.Ghost">Ghost</Button>
    <Button disabled IsLight Color="Color.Dark">Dark</Button>
    <Button disabled IsLight Color="Color.Link">Link</Button>
    <Button disabled IsLight Color="Color.Light">Light</Button>
</Buttons>