<Buttons>
    <Button>Default</Button>
    <Button Color="Color.Primary">Primary</Button>
    <Button Color="Color.Success">Success</Button>
    <Button Color="Color.Info">Info</Button>
    <Button Color="Color.Warning">Warning</Button>
    <Button Color="Color.Danger">Danger</Button>
    <Button Color="Color.Ghost">Ghost</Button>
    <Button Color="Color.Dark">Dark</Button>
    <Button Color="Color.Link">Link</Button>
    <Button Color="Color.Light">Light</Button>
</Buttons>
<Buttons>
    <Button IsLight>Default</Button>
    <Button IsLight Color="Color.Primary">Primary</Button>
    <Button IsLight Color="Color.Success">Success</Button>
    <Button IsLight Color="Color.Info">Info</Button>
    <Button IsLight Color="Color.Warning">Warning</Button>
    <Button IsLight Color="Color.Danger">Danger</Button>
    <Button IsLight Color="Color.Ghost">Ghost</Button>
    <Button IsLight Color="Color.Dark">Dark</Button>
    <Button IsLight Color="Color.Link">Link</Button>
    <Button IsLight Color="Color.Light">Light</Button>
</Buttons>

<Buttons>
    <Button IsOutlined>Default</Button>
    <Button IsOutlined Color="Color.Primary">Primary</Button>
    <Button IsOutlined Color="Color.Success">Success</Button>
    <Button IsOutlined Color="Color.Info">Info</Button>
    <Button IsOutlined Color="Color.Warning">Warning</Button>
    <Button IsOutlined Color="Color.Danger">Danger</Button>
    <Button IsOutlined Color="Color.Ghost">Ghost</Button>
    <Button IsOutlined Color="Color.Dark">Dark</Button>
    <Button IsOutlined Color="Color.Link">Link</Button>
    <Button IsOutlined Color="Color.Light">Light</Button>
</Buttons>

<Buttons>
    <Button IsRounded>Default</Button>
    <Button IsRounded Color="Color.Primary">Primary</Button>
    <Button IsRounded Color="Color.Success">Success</Button>
    <Button IsRounded Color="Color.Info">Info</Button>
    <Button IsRounded Color="Color.Warning">Warning</Button>
    <Button IsRounded Color="Color.Danger">Danger</Button>
    <Button IsRounded Color="Color.Ghost">Ghost</Button>
    <Button IsRounded Color="Color.Dark">Dark</Button>
    <Button IsRounded Color="Color.Link">Link</Button>
    <Button IsRounded Color="Color.Light">Light</Button>
</Buttons>
<Buttons>
    <Button IsStatic>IsStatic</Button>
    <Button IsLoading Color="Color.Primary">IsLoading</Button>
</Buttons>
