@namespace BulmaRazor.Components
@inherits BulmaComponentBase


<p @attributes="Attributes" class="@clesses">
    @ChildContent
</p>
@code {
    string clesses => CssBuilder.Default("card-header-title")
        .AddClassFromAttributes(Attributes)
       .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}



