@namespace BulmaRazor.Components
@inherits BulmaComponentBase


<div @attributes="Attributes" class="@clesses">
    @ChildContent
</div>
@code {
    string clesses => CssBuilder.Default("card-content")
        .AddClassFromAttributes(Attributes)
       .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
