@namespace BulmaRazor.Components
@inherits BulmaComponentBase


<p @attributes="Attributes" class="@clesses">
    @ChildContent
</p>

@code {

    string clesses => CssBuilder.Default("card-header-title")
        .AddClassFromAttributes(Attributes)
        .AddClass("is-centered", IsCentered)
        .Build();

    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    /// <summary>
    /// 是否居中
    /// </summary>
    [Parameter]
    public bool IsCentered { get; set; }

}