@namespace BulmaRazor.Components
@inherits BulmaComponentBase


@if (hasHref)
{
    <a @attributes="Attributes" class="@clesses">
        @ChildContent
    </a>
}
else
{
    <p @attributes="Attributes" class="@clesses">
        @ChildContent
    </p>
}

@code {

    string clesses => CssBuilder.Default("card-footer-item")
        .AddClassFromAttributes(Attributes)
        .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    private bool hasHref;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        if (Attributes != null)
        {
            hasHref = Attributes.ContainsKey("href");
        }
    }
}