
@page "/docs/elements/content"
@layout DocLayout

<Title>Content</Title>
<Subtitle Size="Size.Size4">
    处理 WYSIWYG（所见即所得）内容，只包含Html 标签
</Subtitle>
<hr>

<Content>
    <p>最典型的场景就是显示富文本编辑器编辑好的内容</p>
</Content>
