<Notification>
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, 
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.

</Notification>

<Notification  Color="Color.Primary">
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, 
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</Notification>

<Notification NoDelete Color="Color.Link">
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, 
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</Notification>

<Notification NoDelete Color="Color.Info">
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, 
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</Notification>

<Notification NoDelete Color="Color.Success">
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, 
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</Notification>

<Notification NoDelete Color="Color.Warning">
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, 
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</Notification>
<Notification NoDelete Color="Color.Danger">
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, 
    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla.
    Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</Notification>