@page "/docs/form/file"
@layout DocLayout

<Title>File表单控件</Title>
<Subtitle Size="Size.Size4">
    包装的InputFile元素
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    默认
</Title>

<DocView ComType="File1"/>
<hr>

<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<DocView ComType="File3"/>
<hr>

<Title Size="Size.Size4" IsSpaced>
    大小
</Title>
<DocView ComType="File4"/>
<hr>


<Title Size="Size.Size4" IsSpaced>
    其他
</Title>

<DocView ComType="File2"/>