@page "/docs/form/checkbox"
@layout DocLayout

<Title>CheckBox表单控件</Title>
<Subtitle Size="Size.Size4">
    复选框
</Subtitle>
<hr>


<div class="content">
    <p>
        复选框可以单独使用，和可以包含在CheckBoxes中多选使用
    </p>
</div>

<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<Columns>
    <Column>
        <Checkbox3 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/checkbox/Checkbox3.razor" HasMore MaxHeight="230"></HighLight>
    </Column>
</Columns>

<hr>

<Title Size="Size.Size4" IsSpaced>
    大小
</Title>
<Columns>
    <Column>
        <Checkbox4 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/checkbox/Checkbox4.razor" HasMore MaxHeight="150"></HighLight>
    </Column>
</Columns>

<hr>

<Title Size="Size.Size4" IsSpaced>
    各种样式
</Title>
<Columns>
    <Column>
        <Checkbox5 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/checkbox/Checkbox5.razor" HasMore  MaxHeight="150"></HighLight>
    </Column>
</Columns>
<hr>


<Title Size="Size.Size4" IsSpaced>
    数据绑定
</Title>
<div class="content">
    <p>
        单个复选框使用@@bind-Checked, 绑定值必须是bool，因为是泛型，需要随便设置一个TValue
    </p>
</div>
<Columns>
    <Column>
        <Checkbox1 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/checkbox/Checkbox1.razor" HasMore  MaxHeight="150"></HighLight>
    </Column>
</Columns>
<div class="content">
    <p>
        复选框列表使用在CheckBoxes上使用@@bind-Checked, CheckBox需要设置好Value
    </p>
    <p>
        CheckBoxes是空标签，只需要把CheckBox放在其中即可，样式需要自己控制
    </p>
</div>
<Columns>
    <Column>
        <Checkbox2 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/form/checkbox/Checkbox2.razor" HasMore  MaxHeight="150"></HighLight>
    </Column>
</Columns>