@page "/docs/components/quickview"
@layout DocLayout

<Title>QuickView快速视图</Title>
<Subtitle Size="Size.Size4">
    显示数据的快速视图而不离开当前页
</Subtitle>
<hr>


<Columns>
    <Column><QuickView1/></Column>
    <Column><HighLight FilePath="Pages/docs/components/quickview/QuickView1.razor"/></Column>
</Columns>




