<Button id="qvTrigger" Color="Color.Primary" @onclick="toggleShow">
    QuickView    
</Button>

<Quickview @ref="qv" TriggerSelector="#qvTrigger" HeaderText="HeaderText标题">
    <HeaderSlot>
        HeaderSlot标题
    </HeaderSlot>
    <BodySlot>
        <p>BodySlot</p>
        <p>设置了HeaderSlot会替换掉HeaderText</p>
        <p>需要设置TriggerSelector为触发器的选择器</p>
    </BodySlot>
    <FooterSlot>
        这里是脚部，可以没有
    </FooterSlot>
</Quickview>

@code{
    Quickview qv;
    void toggleShow()
    {
        qv.Toggle();
    }
}