@page "/docs/columns/basics"
@layout DocLayout



<Title>基于Flexbox的列(Columns)</Title>
<Subtitle Size="Size.Size4">
    构建 <strong>响应式列(responsive columns)</strong>的简单方式
</Subtitle>
<hr>

<Content>
    <p>使用 Bulma 创建一个 <strong>响应式列布局</strong>是非常简单的:</p>
    <ol>
        <li>添加一个 <code>Columns</code> 容器</li>
        <li>根据你的需要在其中添加多个 <code>Column</code> 元素</li>
    </ol>
    <p>无论有多少列，他们的宽度将会 <strong>均分</strong>.</p>
</Content>

<Basics1/>
<HighLight FilePath="Pages/docs/columns/basics/Basics1.razor"></HighLight>
