<Field HasAddons>
   <Control>
      <span class="select">
         <select>
            <option>$</option>
            <option>£</option>
            <option>€</option>
         </select>
      </span>
   </Control>
   <Control>
      <Input placeholder="Amount of money" TValue="string" />
   </Control>
   <Control>
      <Button>Transfer</Button>
   </Control>
</Field>
<Field HasAddons>
   <Control>
      <span class="select">
         <select>
            <option>$</option>
            <option>£</option>
            <option>€</option>
         </select>
      </span>
   </Control>
   <Control IsExpanded>
      <Input placeholder="Amount of money" TValue="string" />
   </Control>
   <Control>
      <Button>Transfer</Button>
   </Control>
</Field>