<Field>
    <Label>Name</Label>
    <Control>
        <Input placeholder="e.g Alex Smith" TValue="string" />
    </Control>
</Field>
<Field>
    <Label>Email</Label>
    <Control>
        <Input Color="Color.Danger" type="email" TValue="string" placeholder="e.g. alexsmith@gmail.com" />
    </Control>
</Field>