@page "/docs/form/radio"
@layout DocLayout

<Title>Radio表单控件</Title>
<Subtitle Size="Size.Size4">
    单选框
</Subtitle>
<hr>

<div class="content">
    <p>
        单选框需要包含在Radios中使用才能发挥作用
    </p>
</div>


<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<DocView ComType="Radio2"/>

<hr>

<Title Size="Size.Size4" IsSpaced>
    大小
</Title>
<DocView ComType="Radio3"/>

<hr>


<Title Size="Size.Size4" IsSpaced>
    样式
</Title>
<DocView ComType="Radio4"/>
<hr>


<Title Size="Size.Size4" IsSpaced>
    数据绑定
</Title>
<DocView ComType="Radio1"/>