@page "/docs/layout/hero"
@layout DocLayout


<Title>Hero</Title>
<Subtitle Size="Size.Size4">
    Hero横幅展示东西，会很大气
</Subtitle>
<hr>

<DocView ComType="Hero1"></DocView>

<Content>全高的Hero</Content>
<DocView ComType="Hero2"></DocView>