<Columns>
    <Column>
        <p>Primary</p>
        <BlockList Color="Color.Primary">
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
    <Column>
        <p>Info</p>
        <BlockList Color="Color.Info">
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
     <Column>
            <p>Dark</p>
            <BlockList Color="Color.Dark">
                <BlockListItem>Item One</BlockListItem>
                <BlockListItem>Item Two</BlockListItem>
                <BlockListItem>Item Three</BlockListItem>
            </BlockList>
        </Column>
</Columns>