<Columns>
    <Column>
        <p>IsLeft(默认)</p>
        <BlockList>
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
    <Column>
        <p>IsCentered</p>
        <BlockList IsCentered>
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
     <Column>
            <p>IsRight</p>
            <BlockList IsRight>
                <BlockListItem>Item One</BlockListItem>
                <BlockListItem>Item Two</BlockListItem>
                <BlockListItem>Item Three</BlockListItem>
            </BlockList>
        </Column>
</Columns>