@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<section @attributes="Attributes" class="@classes">
    @ChildContent
</section>

@code {

    string classes => CssBuilder.Default("hero")
        .AddClassFromAttributes(Attributes)
        .AddClass(Color.Value, Color.Value)
        .AddClass("is-small", IsSmall)
        .AddClass("is-medium", IsMedium)
        .AddClass("is-large", IsLarge)
        .AddClass("is-halfheight", IsHalfHeight)
        .AddClass("is-fullheight", IsFullHeight)
        .AddClass("is-bold", IsBold)
        .AddClass("is-fullheight-with-navbar", IsFullHeightWithNavbar)
        .Build();

    /// <summary>
    /// 颜色
    /// </summary>
    [Parameter]
    public Color Color { get; set; } = Color.Default;

    /// <summary>
    /// 尺寸
    /// </summary>
    [Parameter]
    public bool IsSmall { get; set; }
    [Parameter]
    public bool IsMedium { get; set; }
    [Parameter]
    public bool IsLarge { get; set; }
    [Parameter]
    public bool IsHalfHeight { get; set; }
    [Parameter]
    public bool IsFullHeight { get; set; }
    
    [Parameter]
    public bool IsFullHeightWithNavbar { get; set; }

    /// <summary>
    /// 是否渐变
    /// </summary>
    [Parameter]
    public bool IsBold { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
