@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<section @attributes="AdditionalAttributes" class="@classes">
    @ChildContent
</section>

@code {

    string classes => CssBuilder.Default("hero")
        .AddClassFromAttributes(AdditionalAttributes)
        .AddClass(Color.Value, Color.Value)
        .AddClass(Size.Value, Size.Value)
        .AddClass("is-bold", IsBold)
        .AddClass("is-fullheight", IsFullheight)
        .AddClass("is-fullheight-with-navbar", IsFullheightWithNavbar)
        .Build();

    /// <summary>
    /// 颜色
    /// </summary>
    [Parameter]
    public Color Color { get; set; } = Color.Default;

    /// <summary>
    /// 尺寸
    /// </summary>
    [Parameter]
    public Size Size { get; set; } = Size.Default;


    [Parameter]
    public bool IsFullheight { get; set; }

    [Parameter]
    public bool IsFullheightWithNavbar { get; set; }

    /// <summary>
    /// 是否渐变
    /// </summary>
    [Parameter]
    public bool IsBold { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
