@namespace BulmaRazor.Components

@inherits BulmaComponentBase

<nav @attributes="AdditionalAttributes" class="@classes">
    @ChildContent
</nav>

@code {

    string classes => CssBuilder.Default("hero-head")
      .AddClassFromAttributes(AdditionalAttributes)

      .Build();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
