<Buttons>
    <Button IsLarge>大尺寸</Button>
    <Button IsMedium>中尺寸</Button>
    <Button>默认大小</Button>
    <Button IsSmall>小尺寸</Button>
</Buttons>

<Buttons>
    <Button IsRounded IsLarge>大尺寸</Button>
    <Button IsRounded IsMedium>中尺寸</Button>
    <Button IsRounded>默认大小</Button>
    <Button IsRounded IsSmall>小尺寸</Button>
</Buttons>
