<Buttons>
    <Button Color="Color.Primary">
        <Icon IconClass="fa fa-edit"></Icon>
    </Button>
    <Button Color="Color.Primary">
        <Icon IconClass="fa fa-share"></Icon>
    </Button>
    <Button Color="Color.Primary">
        <Icon IconClass="fa fa-remove"></Icon>
    </Button>
    <Button Color="Color.Primary">
        <Icon IconClass="fa fa-github"></Icon>
        <span>GitHub</span>
    </Button>
    <Button Color="Color.Primary">
        <Icon IconClass="fa fa-search"></Icon>
        <span>Search</span>
    </Button>
    <Button Color="Color.Primary">
        <span>Upload</span>
        <Icon IconClass="fa fa-upload"></Icon>
    </Button>
</Buttons>