<Buttons>
    <Button>Default</Button>
    <Button IsRounded Color="Color.Info">Rounded</Button>
    <Button IsLoading Color="Color.Info">Loading</Button>
    <Button IsStatic>static</Button>
    <Button Color="Color.Primary">Primary</Button>
    <Button Color="Color.Danger" IsSmall IsLight> small Light</Button>
    <Button Color="Color.Black" IsOutlined>Outlined</Button>
    <Button Color="Color.Black" IsInverted>IsInverted</Button>
    <Button>
        <Icon IconClass="fa fa-github"></Icon>
        <span>GitHub</span>
    </Button>
    <Button Color="Color.Success">
        <Icon IconClass="fa fa-check" IsSmall></Icon>
        <span>Save</span>
    </Button>
    <Button Color="Color.Danger" IsOutlined>
        <span>Delete</span>
        <Icon IconClass="fa fa-times" IsSmall></Icon>
    </Button>
</Buttons>