<Buttons HasAddons>
    <Button Color="Color.Info" IsSelected>Yes</Button>
    <Button>Maybe</Button>
    <Button>No</Button>
</Buttons>

<Buttons HasAddons IsCentered>
    <Button>Yes</Button>
    <Button Color="Color.Info" IsSelected>Maybe</Button>
    <Button>No</Button>
</Buttons>

<Buttons HasAddons IsRight>
    <Button>Yes</Button>
    <Button>Maybe</Button>
    <Button  Color="Color.Info" IsSelected>No</Button>
</Buttons>