<Level>
    <LevelLeft>
        <LevelItem>
            <Subtitle Size="Size.Size5">  <strong>123</strong> posts</Subtitle>
        </LevelItem>
        <LevelItem>
            <Field HasAddons>
                <Control><Input placeholder="Find a post" TValue="@string" /></Control>
                <Control><Button>Search</Button></Control>
            </Field>
        </LevelItem>
    </LevelLeft>
    <LevelRight>
        <LevelItem><strong>All</strong></LevelItem>
        <LevelItem><a>Published</a></LevelItem>
        <LevelItem><a>Drafts</a></LevelItem>
        <LevelItem><a>Deleted</a></LevelItem>
        <LevelItem><Button Color="Color.Success">New</Button></LevelItem>
    </LevelRight>
</Level>
