<Columns>
    <Column>
        <p>IsOutlined</p>
        <BlockList Color="Color.Primary" IsOutlined>
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
    <Column>
        <p>HasRadius</p>
        <BlockList Color="Color.Info" HasRadius>
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
     <Column>
            <p>IsHighlighted</p>
            <BlockList Color="Color.Dark" IsHighlighted>
                <BlockListItem>Item One</BlockListItem>
                <BlockListItem>Item Two</BlockListItem>
                <BlockListItem>Item Three</BlockListItem>
            </BlockList>
        </Column>
</Columns>