@page "/docs/elements/blocklist"
@layout DocLayout

<Title>BlockList</Title>
<Subtitle Size="Size.Size4">
    以块状样式显示ul和li
</Subtitle>
<hr>

<Content>
    <p>BlockList内部是ul,BlockListItem内部是li</p>
    <p>可以设置位置，大小，颜色等等样式</p>
</Content>

<Title Size="Size.Size4">位置</Title>
<DocView ComType="BlockList1"/>


<Title Size="Size.Size4">大小</Title>
<DocView ComType="BlockList2"/>


<Title Size="Size.Size4">颜色</Title>
<DocView ComType="BlockList3"/>


<Title Size="Size.Size4">其他样式</Title>
<DocView ComType="BlockList4"/>

<Title Size="Size.Size4">所有样式都可以在BlockListItem中应用，已覆盖BlockList中的样式</Title>
<DocView ComType="BlockList5"/>