<Columns>
    <Column>
        <p>IsSmall</p>
        <BlockList IsSmall>
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
    <Column>
        <p>IsNormal(默认)</p>
        <BlockList IsNormal>
            <BlockListItem>Item One</BlockListItem>
            <BlockListItem>Item Two</BlockListItem>
            <BlockListItem>Item Three</BlockListItem>
        </BlockList>
    </Column>
     <Column>
            <p>IsLarge</p>
            <BlockList IsLarge>
                <BlockListItem>Item One</BlockListItem>
                <BlockListItem>Item Two</BlockListItem>
                <BlockListItem>Item Three</BlockListItem>
            </BlockList>
        </Column>
</Columns>