@page "/docs/components/tree"
@layout DocLayout

<Title>Tree树形组件</Title>

<hr>
<Content>
    <p>展示层级结构的树形组件。</p>
    <p>可以绑定@@bind-Values</p>
</Content>


<Title Size="Size.Size4">
    基本用法
</Title>
<Content>
    <p>基础的树形结构展示。</p>
</Content>
<DocView ComType="Tree1"/>
<hr>

<Title Size="Size.Size4">
    可选择
</Title>
<Content>
    <p>适用于需要选择层级时使用。</p>
</Content>
<DocView ComType="Tree2"/>
<hr>

<Title Size="Size.Size4">
    禁用状态
</Title>
<Content>
    <p>可将 Tree 的某些节点设置为禁用状态。</p>
</Content>
<DocView ComType="Tree3"/>

<hr>

<Title Size="Size.Size4">
    自定义节点内容
</Title>
<Content>
    <p>节点的内容支持自定义，可以在节点区添加按钮或图标等内容</p>
</Content>
<DocView ComType="Tree4"/>



<hr>

<Title Size="Size.Size4">
    手风琴模式
</Title>
<Content>
    <p>对于同一级的节点，每次只能展开一个</p>
</Content>
<DocView ComType="Tree5"/>

<hr>
<Title Size="Size.Size4">
    节点孤立式选择
</Title>
<Content>
    <p>每一个节点可以单独选择</p>
</Content>
<DocView ComType="Tree6"/>


<br>
<br>
<br>

<br>
<br>
<br>

