@page "/docs/layout/divider"
@layout DocLayout


<Title>分割线(Divider)</Title>
<Subtitle Size="Size.Size4">
    轻松显示带有可选文本的水平或垂直分隔线
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    水平和垂直样式
</Title>

<Columns>
    <Column>
        <Divider1 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/layout/divider/Divider1.razor"></HighLight>
    </Column>
</Columns>

<hr>


<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>

<Columns>
    <Column>
        <Divider2 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/layout/divider/Divider2.razor"></HighLight>
    </Column>
</Columns>
<hr>


<Title Size="Size.Size4" IsSpaced>
    对齐方式
</Title>

<Columns>
    <Column>
        <Divider3 />
    </Column>
    <Column>
        <HighLight FilePath="Pages/docs/layout/divider/Divider3.razor"></HighLight>
    </Column>
</Columns>