@page "/docs/layout/divider"
@layout DocLayout


<Title>分割线(Divider)</Title>
<Subtitle Size="Size.Size4">
    轻松显示带有可选文本的水平或垂直分隔线
</Subtitle>
<hr>

<Title Size="Size.Size4" IsSpaced>
    水平和垂直样式
</Title>

<DocView ComType="Divider1"></DocView>

<hr>


<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<DocView ComType="Divider2"></DocView>
<hr>


<Title Size="Size.Size4" IsSpaced>
    对齐方式
</Title>
<DocView ComType="Divider3"></DocView>