@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div @attributes="AdditionalAttributes" class="@classes">
    @ChildContent
</div>


@code {
    string classes => CssBuilder.Default("container")
        .AddClassFromAttributes(AdditionalAttributes)
        .AddClass("is-widescreen", IsWidescreen)
        .AddClass("is-fullhd", IsFullhd)
        .AddClass("is-max-desktop", IsMaxDesktop)
        .AddClass("is-max-widescreen", IsMaxWidescreen)
        .AddClass("is-fluid", IsFluid)
        .Build();



    [Parameter]
    public bool IsWidescreen { get; set; }

    [Parameter]
    public bool IsFullhd { get; set; }


    [Parameter]
    public bool IsMaxDesktop { get; set; }

    [Parameter]
    public bool IsMaxWidescreen { get; set; }


    /// <summary>
    /// 是否流体容器，两边留32px间隙
    /// </summary>
    [Parameter]
    public bool IsFluid { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
