@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<div class="@classes">
    @ChildContent
</div>


@code {
    string classes => CssBuilder.Default("container")
        .AddClassFromAttributes(AdditionalAttributes)
        .AddClass(Device.Value, Device.Value)
        .AddClass(MaxDevice.Value, MaxDevice.Value)
        .AddClass("is-fluid", IsFluid)
        .Build();

    /// <summary>
    /// 设备宽度
    /// </summary>
    [Parameter]
    public Device Device { get; set; } = Device.Default;

    /// <summary>
    /// 设备最大宽度
    /// </summary>
    [Parameter]
    public MaxDevice MaxDevice { get; set; } = MaxDevice.Default;


    /// <summary>
    /// 是否流体容器，两边留32px间隙
    /// </summary>
    [Parameter]
    public bool IsFluid { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
