@page "/docs/elements/progress"
@layout DocLayout

<Title>Progress Bar进度条</Title>
<Subtitle Size="Size.Size4">
    Native HTML progress bars 
</Subtitle>
<hr>

<Content>
    进图条可以应用Color,Size属性，如果未设置value属性，则可以显示不确定的进度条。它用来表明正在取得一些进展，但总持续时间尚未确定。  
</Content>

<Title Size="Size.Size4" IsSpaced>
    颜色
</Title>
<DocView ComType="Progress1"/>
<hr>

<Title Size="Size.Size4" IsSpaced>
    尺寸
</Title>
<DocView ComType="Progress2"/>
<hr>

<Title Size="Size.Size4" IsSpaced>
    不确定
</Title>
<Content>
    如果未设置value属性，则可以显示不确定的进度栏。 它用来表明正在取得一些进展，但是总持续时间尚未确定。    
</Content>
<DocView ComType="Progress3"/>
<hr>
<Title Size="Size.Size4" IsSpaced>
    绑定值
</Title>
<DocView ComType="Progress4"/>
<hr>



 