<Block>
    <Icon IconClass="fa fa-home fa-2x" class="m-3"/>

    <Icon IconClass="fa fa-github fa-2x" class="m-3"/>

    <Icon IconClass="fa fa-search fa-2x" class="m-3"/>

    <Icon IconClass="fa fa-ban fa-2x" class="m-3"/>

    <IconText class="m-3">
        <Icon IconClass="fa fa-home"/>
        <span>首页</span>
    </IconText>

    <Button>
        <Icon IconClass="fa fa-search"></Icon>
        <span>Search</span>
    </Button>
</Block>


<Block>
    <Icon Color="Color.Primary" IconClass="fa fa-home fa-2x" class="m-3"/>

    <Icon Color="Color.Primary" IconClass="fa fa-github fa-2x" class="m-3"/>

    <Icon Color="Color.Primary" IconClass="fa fa-search fa-2x" class="m-3"/>

    <Icon Color="Color.Primary" IconClass="fa fa-ban fa-2x" class="m-3"/>

    <IconText Color="Color.Primary" class="m-3">
        <Icon IconClass="fa fa-home"/>
        <span>首页</span>
    </IconText>

    <Button Color="Color.Primary">
        <Icon IconClass="fa fa-search"></Icon>
        <span>Search</span>
    </Button>
</Block>

<Block>
    <Icon Color="Color.Link" IconClass="fa fa-home fa-2x" class="m-3"/>

    <Icon Color="Color.Link" IconClass="fa fa-github fa-2x" class="m-3"/>

    <Icon Color="Color.Link" IconClass="fa fa-search fa-2x" class="m-3"/>

    <Icon Color="Color.Link" IconClass="fa fa-ban fa-2x" class="m-3"/>

    <IconText Color="Color.Link" class="m-3">
        <Icon IconClass="fa fa-home"/>
        <span>首页</span>
    </IconText>

    <Button Color="Color.Link">
        <Icon IconClass="fa fa-search"></Icon>
        <span>Search</span>
    </Button>
</Block>