<Buttons>
    <Button Color="Color.Primary" Size="Size.Small">Small</Button>
    <Button Color="Color.Primary">Normal</Button>
    <Button Color="Color.Primary" Size="Size.Medium">Medium</Button>
    <Button Color="Color.Primary" Size="Size.Large">Large</Button>
</Buttons>
<Tags>
    <Tag Color="Color.Info" Size="Size.Small">Small</Tag>
    <Tag Color="Color.Info">Normal</Tag>
    <Tag Color="Color.Info" Size="Size.Medium">Medium</Tag>
    <Tag Color="Color.Info" Size="Size.Large">Large</Tag>
</Tags>
<Columns IsVcentered>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square32"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square48"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square64"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square96"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square128"></Image>
    </Column>
</Columns>