<Buttons>
    <Button Color="Color.Primary" IsSmall>Small</Button>
    <Button Color="Color.Primary">Normal</Button>
    <Button Color="Color.Primary" IsMedium>Medium</Button>
    <Button Color="Color.Primary" IsLarge>Large</Button>
</Buttons>
<Tags>
    <Tag Color="Color.Info" IsSmall>Small</Tag>
    <Tag Color="Color.Info">Normal</Tag>
    <Tag Color="Color.Info" IsMedium>Medium</Tag>
    <Tag Color="Color.Info" IsLarge>Large</Tag>
</Tags>
<Columns IsVcentered>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square32"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square48"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square64"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square96"></Image>
    </Column>
    <Column>
        <Image Src="/images/image-placeholder.jpg" Size="Size.Square128"></Image>
    </Column>
</Columns>