@page "/docs/elements/icon"
@layout DocLayout

<Title>Icon图标</Title>
<Subtitle Size="Size.Size4">
    Bulma 可适应这些字体图标库： Font Awesome 5, Font Awesome 4, Material Design Icons, Ionicons, 等等.
</Subtitle>
<hr>


<Title Size="Size.Size4" IsSpaced>
    使用方法
</Title>
<Content>
    <p>BulmaRazor中，默认使用了<a target="_blank" href="http://www.fontawesome.com.cn/">fontawesome中文网</a>的类库 </p>
    <p>提供类名来使用</p>
</Content>

<DocView ComType="Icon1"/>