@page "/docs/elements/icon"
@layout DocLayout

<Title>Icon</Title>
<Subtitle Size="Size.Size4">
    Bulma 能很好的适应这些字体图标库： Font Awesome 5, Font Awesome 4, Material Design Icons, Ionicons, 等等.
</Subtitle>
<hr>

<Content>
    <p>BulmaRazor中，默认使用了<a target="_blank" href="http://www.fontawesome.com.cn/">fontawesome中文网</a>的类库 </p>
</Content>

<DocView ComType="Icon1"/>
