@page "/docs/layout/section"
@layout DocLayout


<Title>节(Section)</Title>
<Subtitle Size="Size.Size4">
    将页面内容分为多个节(sections)的简单容器, 例如您当前正在阅读的部分
</Subtitle>
<hr>

<Content>
    <p>Section是具有响应式padding的布局组件，最后作为body的直接子元素</p>
</Content>

<Section1 />
<HighLight FilePath="Pages/docs/layout/section/Section1.razor"></HighLight>