@namespace BulmaRazor.Components
@inherits BulmaComponentBase

<p @attributes="Attributes" class="@classes">
    @ChildContent
</p>

@code{

    string classes => CssBuilder.Default("menu-label")
        .AddClassFromAttributes(Attributes)
        .Build();


    /// <summary>
    /// 子内容
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}