<Dropdown IsActive>
    <TriggerSlot>
        <Button>
            <span>Dropdown button</span>
            <Icon IsSmall IconClass="fa fa-angle-down"></Icon>
        </Button>
    </TriggerSlot>
    <MenuSlot>
        <DropdownItem>
            <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
        </DropdownItem>
        <DropdownDivider/>
        <DropdownItem>
            <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
        </DropdownItem>
        <DropdownDivider/>
        <DropdownItem Href="#"> This is a link</DropdownItem>
    </MenuSlot>
</Dropdown>