<Dropdown IsActive>
    <TriggerSlot>
        <Button>
            <span>Dropdown button</span>
            <Icon IsSmall IconClass="fa fa-angle-down"></Icon>
        </Button>
    </TriggerSlot>
    <MenuSlot>
        <DropdownItem Href="#">Dropdown Item</DropdownItem>
        <DropdownItem Href="#">Other dropdown item</DropdownItem>
        <DropdownItem Href="#" IsActive>Active dropdown item</DropdownItem>
        <DropdownItem Href="#">Other dropdown item</DropdownItem>
        <DropdownDivider/>
        <DropdownItem Href="#"> With a divider</DropdownItem>
    </MenuSlot>
</Dropdown>
